@import "/src/assets/variables.scss";

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgb(0, 0, 0, 47%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.transparentPage {
    background: #fffc !important;
    color: #000 !important;

    .upperDiv {
      color: #000;
      a {
        text-decoration: none;
        color: #000;
        &:hover {
          color: $secondary-color;
        }
      }
      div:hover {
        color: $secondary-color !important;
      }
    }

    .mainDiv {
      .gradient-text {
        background: linear-gradient(
          175deg,
          #0077be 30%,
          #1370b9 50%,
          #3660ac 90%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .hamburger {
        .fa-bars,
        .fa-xmark {
          color: #000;
        }

        .fa-bars:hover,
        .fa-xmark:hover {
          color: $secondary-color !important;
        }
      }

      .mainMenu {
        .cleaningServiceDropdown {
          background: #fffc;
          background: linear-gradient(
            180deg,
            rgba(168, 168, 168, 0) 5%,
            rgba(255, 255, 255, 0.705) 7%,
            rgba(255, 255, 255, 0.904) 50%,
            #fffc 90%
          );
          li {
            &:not(:last-child) {
              border-bottom: 1px dotted $secondary-color;
            }
            a:hover {
              color: $secondary-color !important;
            }
          }
        }
      }
    }

    .mainMenu.show {
      background: #ffffffe7 !important;
    }

    .mainMenu a {
      color: #000 !important;

      &:hover {
        color: $secondary-color !important;
      }
    }

    .socialMedia i {
      color: #000 !important;

      &:hover {
        color: $secondary-color !important;
      }
    }

    .logo {
      color: #000 !important;
      a {
        text-decoration: none;
        color: inherit;
      }
      &:hover {
        filter: drop-shadow(2px 2px 3px rgba(2, 5, 136, 0.41)) !important;
      }
    }
  }

  .upperDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    color: #fff;
    max-width: 1920px;
    margin: 0 auto;
    div:hover {
      color: #0fe0f5;
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #0fe0f5;
      }
    }
  }

  .mainDiv {
    color: #fff;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    max-width: 1920px;
    margin: 0 auto;

    .animated {
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .hamburger i {
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .hamburger i.fa-bars {
      transform: rotate(0);
    }

    .hamburger i.fa-xmark {
      transform: rotate(180deg);
    }

    .hamburger {
      margin-top: 3px;
      .fa-bars,
      .fa-xmark {
        font-size: 24px;
      }

      .fa-bars:hover,
      .fa-xmark:hover {
        filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.41));
      }
    }

    .gradient-text {
      background: linear-gradient(
        175deg,
        #a8a8a8 20%,
        #cacaca 40%,
        #ffffff 90%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .headLeft {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }

    .mainMenu {
      display: flex;
      list-style: none;
      gap: 20px;
      font-size: 1.3rem;

      li.bAC a {
        color: green;
      }

      a {
        text-decoration: none;
        color: #fff;
        padding: 5px;
        cursor: pointer;
      }

      a:hover {
        color: #0fe0f5;
      }

      .active {
        color: #0fe0f5;
      }

      .cleaningServiceDropdown {
        list-style: none;
        display: none;
        position: absolute;
        background: linear-gradient(
          rgba(0, 0, 0, 0) 5%,
          rgba(0, 0, 0, 0.322),
          rgb(0, 0, 0, 47%)
        );
        color: #fff;
        padding: 10px;
        min-width: 300px;
        gap: 40px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        top: 100%;
        margin-top: 0;
        z-index: 5;

        li {
          cursor: pointer;
          padding: 10px 0px;

          &:not(:last-child) {
            border-bottom: 1px dotted #0fe0f5;
          }

          a {
            color: #fff;
          }

          a:hover {
            border-top: none;
            color: #0fe0f5 !important;
          }
        }
      }

      .cleaningService {
        position: relative;
      }

      .cleaningService:hover .cleaningServiceDropdown {
        display: block;
      }
    }

    .logo {
      cursor: pointer;
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      &:hover {
        filter: drop-shadow(2px 2px 3px rgba(255, 255, 255, 0.41));
      }

      a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
      }
      img {
        height: 35px;
        width: 35px;
      }
    }

    .socialMedia {
      display: flex;
      gap: 15px;

      align-items: center;

      .fa-whatsapp {
        margin-top: -3px;
      }

      .fa-facebook-f {
        font-size: 25px;
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      i {
        transition: transform 0.3s ease;
        cursor: pointer;
      }

      i:hover {
        transform: scale(1.2);
        color: #0fe0f5;
      }
    }

    span {
      font-size: 18px;
    }
  }
}

/* Show the menu when the hamburger icon is clicked */

.hamburger {
  display: none; /* Hide the hamburger icon by default */
}

@media (max-width: 1150px) {
  .fixedHeader {
    .upperDiv {
      padding: 10px;
      font-size: 15px;
    }
    .mainDiv {
      padding: 10px;
      .mainMenu {
        font-size: 1rem;
        gap: 5px;
      }

      .headLeft {
        gap: 20px;
        justify-content: space-between;
        width: 100%;
      }

      .logo {
        font-size: 25px;
        img {
          height: 25px;
          width: 25px;
        }
      }

      .socialMedia {
        gap: 8px;
        i {
          font-size: 25px;
        }
        .fa-facebook-f {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .mainDiv .hamburger {
    display: block;
    cursor: pointer;
  }

  .mainDiv .headLeft .mainMenu {
    display: none;
  }

  .mainMenu > li {
    padding: 5px;
  }

  .mainDiv .headLeft .mainMenu.show {
    display: block;
    position: absolute;
    background: rgb(0, 0, 0, 47%);
    top: 54px;
    left: 0;
    width: 100%;
    .cleaningService:hover .cleaningServiceDropdown {
      display: none;
    }

    .cleaningService {
      .cleaningServiceDropdown.show {
        display: block;
        position: relative;
        background: transparent;
        li {
          padding: 3px;
        }
        a {
          // color: #fff;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .fixedHeader {
    .upperDiv {
      flex-direction: column;
      padding: 5px 10px;
      gap: 5px;
    }
    .mainDiv {
      .headLeft {
        gap: 20px;
      }

      //   .logo {
      //     font-size: 18px;
      //     img {
      //       height: 20px;
      //       width: 20px;
      //     }
      //   }

      //   .socialMedia {
      //     gap: 5px;
      //     i {
      //       font-size: 20px;
      //     }
      //     .fa-facebook-f {
      //       font-size: 18px;
      //     }
      //   }
    }
  }
  // .mainDiv .headLeft .mainMenu.show {
  //   top: 90px;
  // }
}
