<div
  class="fixedHeader"
  [ngClass]="{ scrolled: isScrolled, transparentPage: isTransparentPage }"
>
  <div class="upperDiv" *ngIf="!isMobile">
    <div>
      <i class="fa-solid fa-phone"></i
      ><a href="tel:+1 929-930-1525"><span> 929-930-1525</span></a>
    </div>
    <div>
      <i class="fa-regular fa-envelope"></i>
      <a
        href="mailto:dreamcleaninginfos@gmail.com"
        (click)="closeMenuAndDropdown()"
      >
        <span> DreamCleaningInfos&#64;gmail.com</span>
      </a>
    </div>
  </div>
  <div class="mainDiv">
    <div class="headLeft">
      <div class="logo">
        <!-- <a href="https://thedreamcleaning.com/"> -->
        <a href="/">
          <img [src]="logoSrc" alt="DREAM CLEANING Logo" />
          <h1 class="gradient-text">DREAM CLEANING</h1>
        </a>
      </div>
      <div class="hamburger" (click)="toggleMenu()">
        <i
          [ngClass]="
            isMenuOpen ? 'fa-solid fa-xmark animated' : 'fa fa-bars animated'
          "
        ></i>
      </div>

      <ul
        class="mainMenu"
        [ngClass]="{
          show: isMenuOpen,
          'mobile-menu': isMobile,
          'desktop-menu': !isMobile
        }"
      >
        <li class="cleaningService">
          <p (click)="toggleDropdown()">
            Cleaning Services <i class="fa-solid fa-chevron-down"></i>
          </p>
          <ul
            class="cleaningServiceDropdown"
            [ngClass]="{ show: isDropdownOpen }"
          >
            <li>
              <p (click)="navigateToServiceSection('regular')">
                Regular Cleaning
              </p>
            </li>
            <li>
              <p (click)="navigateToServiceSection('deep')">Deep Cleaning</p>
            </li>
            <li>
              <p (click)="navigateToServiceSection('moveInv')">
                Move In Service
              </p>
            </li>
            <li>
              <p (click)="navigateToServiceSection('moveOut')">
                Move Out Service
              </p>
            </li>
            <li>
              <p (click)="navigateToServiceSection('posrRenovation')">
                Post Renovation Service
              </p>
            </li>
            <li>
              <p (click)="navigateToServiceSection('custom')">
                Custom Cleaning
              </p>
            </li>
          </ul>
        </li>

        <li>
          <a routerLink="/calculator" (click)="closeMenuAndDropdown()"
            >Book Now</a
          >
        </li>
        <li>
          <a routerLink="/about" (click)="closeMenuAndDropdown()">About</a>
        </li>
        <li>
          <a routerLink="/contact" (click)="closeMenuAndDropdown()">Contact</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!isMobile">
      <div class="socialMedia">
        <a
          href="https://www.facebook.com/profile.php?id=61563387757936"
          target="_blank"
          aria-label="Facebook Profile"
          ><i class="fa-brands fa-2x fa-facebook-f"></i
        ></a>
        <a
          href="https://www.instagram.com/thedream_cleaning?utm_source=qr"
          target="_blank"
          aria-label="Instagram Profile"
          ><i class="fa-brands fa-2x fa-instagram"></i
        ></a>
        <a
          href="https://www.yelp.com/biz/dream-cleaning-brooklyn?override_cta=Get%20pricing%20%26%20availability"
          target="_blank"
          aria-label="Yelp Profile"
          ><i class="fa-brands fa-2x fa-yelp"></i
        ></a>
        <!-- <i class="fa-brands fa-2x fa-whatsapp"></i> -->
      </div>
    </div>
  </div>
</div>
