@import "/src/assets/variables.scss";

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgb(0, 0, 0, 47%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.transparentPage {
    background: #fff !important;
    color: #000 !important;

    .upperDiv {
      background: #ebf5ff !important;
      color: #000;
      a {
        text-decoration: none;
        color: #000;
        &:hover {
          color: $secondary-color;
        }
      }
      div:hover {
        color: $secondary-color !important;
      }

      .logo:hover {
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.41));
      }
    }

    .mainDiv {
      .gradient-text {
        background: linear-gradient(
          175deg,
          #0077be 30%,
          #1370b9 50%,
          #3660ac 90%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .mainMenu a {
      color: #000 !important;

      &:hover {
        color: $secondary-color !important;
      }
    }

    .socialMedia i {
      color: #000 !important;

      &:hover {
        color: $secondary-color !important;
      }
    }

    .logo {
      color: #000 !important;
      a {
        text-decoration: none;
        color: inherit;
      }
      &:hover {
        color: $secondary-color !important;
      }
    }
  }

  .upperDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 0, 0, 50%);
    width: 100%;
    padding: 10px 50px;
    transition: background 0.3s;
    color: #fff;
    div:hover {
      color: #0fe0f5;
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #0fe0f5;
      }
    }
  }

  .mainDiv {
    color: #fff;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 10;

    .gradient-text {
      background: linear-gradient(
        175deg,
        #a8a8a8 30%,
        #cacaca 50%,
        #ffffff 90%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .headLeft {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }

    .mainMenu {
      display: flex;
      list-style: none;
      gap: 20px;
      font-size: 1.3rem;

      li.bAC a {
        color: green;
      }

      a {
        text-decoration: none;
        color: #fff;
        padding: 5px;
        cursor: pointer;
      }

      a:hover {
        color: #0fe0f5;
      }

      .active {
        color: #0fe0f5;
      }

      .cleaningServiceDropdown {
        list-style: none;
        display: none;
        position: absolute;
        background: #fff;
        padding: 10px;
        margin-top: 5px;
        min-width: 300px;
        gap: 40px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        top: 100%;
        margin-top: 0;
        z-index: 5;

        li {
          cursor: pointer;
          padding: 10px 0px;

          &:not(:last-child) {
            border-bottom: 1px dotted $secondary-color;
          }

          a {
            color: #000;
          }

          a:hover {
            border-top: none;
            color: $secondary-color !important;
          }
        }
      }

      .cleaningService {
        position: relative;
      }

      .cleaningService:hover .cleaningServiceDropdown {
        display: block;
      }
    }

    .logo {
      cursor: pointer;
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      &:hover {
        filter: drop-shadow(2px 2px 3px rgba(255, 255, 255, 0.41));
      }

      a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
      }
      img {
        height: 35px;
        width: 35px;
      }
    }

    .socialMedia {
      display: flex;
      gap: 15px;
      cursor: pointer;

      .fa-facebook-f {
        scale: 0.8;
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      i {
        transition: transform 0.3s ease;
      }

      i:hover {
        transform: scale(1.2);
        color: #0fe0f5;
      }
    }

    span {
      font-size: 18px;
    }
  }
}
