<div class="fixedHeader">
  <div class="upperDiv">
    <!-- <div>
      <i class="fa-regular fa-envelope"></i
      ><span> DreamCleaningInfos@gmail.com</span>
    </div> -->
    <div><i class="fa-solid fa-phone"></i><span> 555-555-555</span></div>
  </div>
  <div class="mainDiv">
    <div class="headLeft">
      <h1 class="logo" (click)="navigateToHome()">DREAM CLEANING</h1>
      <div>
        <ul class="mainMenu">
          <li class="cleaningService">
            <a href="#"
              >Cleaning Services <i class="fa-solid fa-chevron-down"></i
            ></a>
            <ul class="cleaningServiceDropdown">
              <li>
                <a (click)="navigateToCalculator('regular')"
                  >Regular Cleaning</a
                >
              </li>
              <li>
                <a (click)="navigateToCalculator('deep')">Deep Cleaning</a>
              </li>
              <li>
                <a (click)="navigateToCalculator('movein-moveout')"
                  >Move in/Move out cleaning</a
                >
              </li>
              <li>
                <a (click)="navigateToCalculator('balcony')"
                  >Balcony cleaning</a
                >
              </li>
              <li>
                <a (click)="navigateToCalculator('basement')"
                  >Basement cleaning</a
                >
              </li>
              <li>
                <a (click)="navigateToCalculator('dishwashing')"
                  >Dish washing service</a
                >
              </li>
              <li>
                <a (click)="navigateToCalculator('restroom')"
                  >Restroom cleaning</a
                >
              </li>
              <li>
                <a (click)="navigateToCalculator('windows')"
                  >Windows cleaning</a
                >
              </li>
              <li>
                <a (click)="navigateToCalculator('wall')">Wall cleaning</a>
              </li>
            </ul>
          </li>
          <li><a (click)="navigateToCalculator('regular')">Book Now</a></li>
          <!-- <li><a href="#">FAQs</a></li> -->
          <li><a routerLink="/about">About</a></li>
          <!-- <li class="bAC"><a href="#">Become a Cleaner</a></li> -->
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="socialMedia">
        <a
          href="https://www.facebook.com/DreamcleaningNY?mibextid=LQQJ4d"
          target="_blank"
          ><i class="fa-brands fa-2x fa-facebook-f"></i
        ></a>
        <i class="fa-brands fa-2x fa-instagram"></i>
        <i class="fa-brands fa-2x fa-whatsapp"></i>
      </div>
    </div>
  </div>
</div>
