<div
  class="fixedHeader"
  [ngClass]="{ scrolled: isScrolled, transparentPage: isTransparentPage }"
>
  <div class="upperDiv">
    <div>
      <i class="fa-solid fa-phone"></i
      ><a href="tel:929-930-1525"><span> 929-930-1525</span></a>
    </div>
    <div>
      <i class="fa-regular fa-envelope"></i>
      <a routerLink="/contact" (click)="closeMenuAndDropdown()">
        <span> DreamCleaningInfos@gmail.com</span>
      </a>
    </div>
  </div>
  <div class="mainDiv">
    <div class="headLeft">
      <h1 class="logo">
        <a href="https://thedreamcleaning.com/">
          <img [src]="logoSrc" alt="DREAM CLEANING Logo" />
          <b class="gradient-text">DREAM CLEANING</b>
        </a>
      </h1>
      <div class="hamburger" (click)="toggleMenu()">
        <i
          [ngClass]="
            isMenuOpen ? 'fa-solid fa-xmark animated' : 'fa fa-bars animated'
          "
        ></i>
      </div>

      <div>
        <ul class="mainMenu" [ngClass]="{ show: isMenuOpen }">
          <li class="cleaningService">
            <a (click)="toggleDropdown()"
              >Cleaning Services <i class="fa-solid fa-chevron-down"></i
            ></a>
            <ul
              class="cleaningServiceDropdown"
              [ngClass]="{ show: isDropdownOpen }"
            >
              <li>
                <a (click)="navigateToCalculator('regular')"
                  >Regular Cleaning</a
                >
              </li>
              <li>
                <a (click)="navigateToCalculator('deep')">Deep Cleaning</a>
              </li>
              <li>
                <a (click)="navigateToCalculator('Move In')">Move in Service</a>
              </li>
              <li>
                <a (click)="navigateToCalculator('Move Out')"
                  >Move out Service</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/calculator" (click)="closeMenuAndDropdown()"
              >Book Now</a
            >
          </li>
          <li>
            <a routerLink="/about" (click)="closeMenuAndDropdown()">About</a>
          </li>
          <li>
            <a routerLink="/contact" (click)="closeMenuAndDropdown()"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="socialMedia">
        <a
          href="https://www.facebook.com/profile.php?id=61562078646597&mibextid=LQQJ4d"
          target="_blank"
          ><i class="fa-brands fa-2x fa-facebook-f"></i
        ></a>
        <a
          href="https://www.instagram.com/thedream_cleaning?utm_source=qr"
          target="_blank"
          ><i class="fa-brands fa-2x fa-instagram"></i
        ></a>
        <i class="fa-brands fa-2x fa-whatsapp"></i>
      </div>
    </div>
  </div>
</div>
