@import "/src/assets/variables.scss";

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upperDiv {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  width: 100%;
  padding: 10px 50px;
  div:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}

.mainDiv {
  color: #000;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;

  .headLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .mainMenu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.3rem;

    li.bAC a {
      color: green;
    }

    a {
      text-decoration: none;
      color: #000;
      padding: 5px;
      cursor: pointer;
    }

    a:hover {
      color: $secondary-color;
    }

    .active {
      color: $secondary-color;
    }

    .cleaningServiceDropdown {
      list-style: none;
      display: none;
      position: absolute;
      background: #fff;
      padding: 10px;
      margin-top: 5px;
      min-width: 300px;
      gap: 40px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      top: 100%;
      margin-top: 0;
      z-index: 5;
      li {
        cursor: pointer;
        padding: 10px 0px;
        &:not(:last-child) {
          border-bottom: 1px dotted $secondary-color;
        }
        a:hover {
          border-top: none;
        }
      }
      li:hover {
        a {
          color: $secondary-color;
        }
      }
    }

    .cleaningService {
      position: relative;
    }

    .cleaningService:hover .cleaningServiceDropdown {
      display: block;
    }
  }

  .logo {
    font-weight: 500;
    cursor: pointer;
  }

  .logo:hover {
    color: $secondary-color;
  }

  .socialMedia {
    display: flex;
    gap: 15px;
    cursor: pointer;

    .fa-facebook-f {
      scale: 0.8;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    i {
      transition: transform 0.3s ease;
    }

    i:hover {
      transform: scale(1.2);
      color: $secondary-color;
    }
  }

  span {
    font-size: 18px;
  }
}
