<div class="footerContainer">
  <div class="upper">
    <div class="logo" (click)="navigateToHome()">
      <img src="/assets/images/logoLight.png" alt="" />
    </div>
    <button class="bN" (click)="navigateToCalculator()">Book Now</button>
    <div class="socialMedia">
      <a
        href="https://www.facebook.com/DreamcleaningNY?mibextid=LQQJ4d"
        target="_blank"
        ><i class="fa-brands fa-2x fa-facebook-f"></i
      ></a>
      <i class="fa-brands fa-2x fa-instagram"></i>
      <i class="fa-brands fa-2x fa-whatsapp"></i>
    </div>
  </div>
  <div class="mid">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div class="rights">
    <p>Copyright © 2024 - Dream Cleaning Service NYC. All rights reserved.</p>
    <div>
      <a href="">Privacy Policy</a>
      <a href="">Terms of Service</a>
    </div>
  </div>
</div>
