.footerContainer {
  width: 100%;
  background: #36454f;

  .container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  a,
  p {
    text-decoration: none;
    color: #fff;
  }

  a:hover,
  p:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    .socialMedia {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .fa-whatsapp {
        margin-top: -3px;
      }
    }

    .bN {
      background: none;
      border: none;
      padding: 10px;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;
    }

    .bN:hover {
      text-decoration: underline;
    }
  }

  .mid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      li a {
        padding: 10px;
      }
    }
  }

  .rights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

.logo {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  filter: drop-shadow(4px 5px 1px rgba(0, 0, 0, 0.41));
  img {
    height: 80px;
    width: 80px;
  }
}

.socialMedia {
  a .fa-facebook-f {
    scale: 0.8;
  }

  i {
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  a:hover,
  i:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .footerContainer .rights {
    flex-direction: column-reverse;
    gap: 10px;
  }
}

@media (max-width: 550px) {
  .container p {
    font-size: 14px;
    max-width: 330px;
    text-align: center;
  }
  .footerContainer {
    .container {
      gap: 0;
    }
  }
}

@media (max-width: 450px) {
  .footerContainer {
    .upper {
      .bN {
        font-size: 1rem;
      }

      .socialMedia {
        // gap: 8px;
        i {
          font-size: 20px;
        }
      }
    }
    .logo img {
      height: 50px;
      width: 50px;
    }
  }
}
