.fnc-slider {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}
.fnc-slider *,
.fnc-slider *:before,
.fnc-slider *:after {
  box-sizing: border-box;
}
.fnc-slider__slides {
  position: relative;
  height: 100%;
  transition: transform 1s 0.6666666667s;
}
.fnc-slider .m--blend-dark .fnc-slide__inner {
  background-color: #ea2329;
}
.fnc-slider .m--blend-dark .fnc-slide__mask-inner {
  background-color: #990e13;
}
.fnc-slider .m--navbg-dark {
  background-color: #990e13;
}
.fnc-slider .m--blend-green .fnc-slide__inner {
  background-color: #32cd32;
}
.fnc-slider .m--blend-green .fnc-slide__mask-inner {
  background-color: #287445;
}
.fnc-slider .m--navbg-green {
  background-color: #287445;
}
.fnc-slider .m--blend-red .fnc-slide__inner {
  background-color: #ffff33;
}
.fnc-slider .m--blend-red .fnc-slide__mask-inner {
  background-color: #c5c527;
}
.fnc-slider .m--navbg-red {
  background-color: #c5c527;
}
.fnc-slider .m--blend-blue .fnc-slide__inner {
  background-color: #59aecb;
}
.fnc-slider .m--blend-blue .fnc-slide__mask-inner {
  background-color: #2d7791;
}
.fnc-slider .m--navbg-blue {
  background-color: #2d7791;
}
.fnc-slide {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.fnc-slide.m--before-sliding {
  z-index: 2 !important;
  transform: translate3d(100%, 0, 0);
}
.fnc-slide.m--active-slide {
  z-index: 1;
  transition: transform 1s 0.6666666667s ease-in-out;
  transform: translate3d(0, 0, 0);
}
.fnc-slide__inner {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center top;
  transform: translate3d(0, 0, 0);
}
.m--global-blending-active .fnc-slide__inner,
.m--blend-bg-active .fnc-slide__inner {
  background-blend-mode: luminosity;
}
.m--before-sliding .fnc-slide__inner {
  transform: translate3d(-100%, 0, 0);
}
.m--active-slide .fnc-slide__inner {
  transition: transform 1s 0.6666666667s ease-in-out;
  transform: translate3d(0, 0, 0);
}
.fnc-slide__mask {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  right: 60%;
  top: 15%;
  width: 50.25vh;
  height: 67vh;
  margin-right: -90px;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    6vh 0,
    6vh 61vh,
    44vh 61vh,
    44vh 6vh,
    6vh 6vh
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    6vh 0,
    6vh 61vh,
    44vh 61vh,
    44vh 6vh,
    6vh 6vh
  );
  transform-origin: 50% 0;
  transition-timing-function: ease-in-out;
}
.m--before-sliding .fnc-slide__mask {
  transform: rotate(-10deg) translate3d(200px, 0, 0);
  opacity: 0;
}
.m--active-slide .fnc-slide__mask {
  transition: transform 0.7s 1.2222222222s, opacity 0.35s 1.2222222222s;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.m--previous-slide .fnc-slide__mask {
  transition: transform 0.7s 0.3333333333s, opacity 0.35s 0.6833333333s;
  transform: rotate(10deg) translate3d(-200px, 0, 0);
  opacity: 0;
}
.fnc-slide__mask-inner {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh;
  background-size: cover;
  background-position: center center;
  background-blend-mode: luminosity;
  transform-origin: 50% 16.5vh;
  transition-timing-function: ease-in-out;
}
.m--before-sliding .fnc-slide__mask-inner {
  transform: translateY(0) rotate(10deg) translateX(-200px) translateZ(0);
}
.m--active-slide .fnc-slide__mask-inner {
  transition: transform 0.7s 1.2222222222s;
  transform: translateX(0);
}
.m--previous-slide .fnc-slide__mask-inner {
  transition: transform 0.7s 0.3333333333s;
  transform: translateY(0) rotate(-10deg) translateX(200px) translateZ(0);
}
.fnc-slide__content {
  z-index: 2;
  position: absolute;
  left: 40%;
  top: 40%;
}
.fnc-slide__heading {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.fnc-slide__heading-line {
  overflow: hidden;
  position: relative;
  padding-right: 20px;
  font-size: 100px;
  color: #fff;
  word-spacing: 10px;
  cursor: pointer;
}
.fnc-slide__heading-line:nth-child(2) {
  padding-left: 30px;
}
.m--before-sliding .fnc-slide__heading-line {
  transform: translateY(100%);
}
.m--active-slide .fnc-slide__heading-line {
  transition: transform 1.5s 1s;
  transform: translateY(0);
}
.m--previous-slide .fnc-slide__heading-line {
  transition: transform 1.5s;
  transform: translateY(-100%);
}
.fnc-slide__heading-line span {
  display: block;
}
.m--before-sliding .fnc-slide__heading-line span {
  transform: translateY(-100%);
}
.m--active-slide .fnc-slide__heading-line span {
  transition: transform 1.5s 1s;
  transform: translateY(0);
}
.m--previous-slide .fnc-slide__heading-line span {
  transition: transform 1.5s;
  transform: translateY(100%);
}
.fnc-slide__action-btn {
  position: relative;
  margin-left: 200px;
  padding: 5px 15px;
  font-size: 20px;
  line-height: 1;
  color: transparent;
  border: none;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
}
.fnc-slide__action-btn span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  line-height: 30px;
  color: #fff;
}
.fnc-slide__action-btn span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-top: none;
  border-bottom: none;
}
.fnc-slide__action-btn span:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  background: #1f2833;
  opacity: 0;
  transform-origin: 50% 0;
  transform: translateY(100%) rotateX(-90deg);
  transition: opacity 0.15s 0.15s;
}
.fnc-slide__action-btn:hover span {
  transform: rotateX(90deg);
}
.fnc-slide__action-btn:hover span:after {
  opacity: 1;
  transition: opacity 0.15s;
}
.fnc-nav {
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: 0;
}
.fnc-nav__bgs {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.fnc-nav__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.fnc-nav__bg.m--nav-bg-before {
  z-index: 2 !important;
  transform: translateX(100%);
}
.fnc-nav__bg.m--active-nav-bg {
  z-index: 1;
  transition: transform 1s 0.6666666667s;
  transform: translateX(0);
}
.fnc-nav__controls {
  font-size: 0;
}
.fnc-nav__control {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
.fnc-nav__control.m--active-control {
  background: #1f2833;
}
.fnc-nav__control-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition-timing-function: linear !important;
}
.m--with-autosliding .m--active-control .fnc-nav__control-progress {
  transform: scaleX(1);
}
.m--prev-control .fnc-nav__control-progress {
  transform: translateX(100%);
  transition: transform 0.5s !important;
}
.m--reset-progress .fnc-nav__control-progress {
  transform: scaleX(0);
  transition: transform 0s 0s !important;
}
.m--autosliding-blocked .fnc-nav__control-progress {
  transition: all 0s 0s !important;
  transform: scaleX(0) !important;
}

/* NOT PART OF COMMON SLIDER STYLES */
body {
  margin: 0;
}

.demo-cont__close-btn img {
  height: 30px;
  width: 30px;
}

.demo-cont {
  overflow: hidden;
  position: relative;
  height: 100vh;
  perspective: 1500px;
  background: #000;
}
.demo-cont__credits {
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  padding: 20px 10px 30px;
  background: #36454f;
  color: #fff;
  text-align: center;
  transition: transform 0.7s;
  transform: translate3d(100%, 0, 0) rotateY(-45deg);
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px;
  overflow: hidden;
}
.credits-active .demo-cont__credits {
  transition: transform 0.7s 0.2333333333s;
  transform: translate3d(0, 0, 0);
}
.demo-cont__credits *,
.demo-cont__credits *:before,
.demo-cont__credits *:after {
  box-sizing: border-box;
}
.demo-cont__credits-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.demo-cont__credits-close:before,
.demo-cont__credits-close:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background: #fff;
}
.demo-cont__credits-close:before {
  transform: rotate(45deg);
}
.demo-cont__credits-close:after {
  transform: rotate(-45deg);
}
.demo-cont__credits-heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}
.demo-cont__credits-img {
  display: block;
  width: 60%;
  margin: 0 auto 30px;
  border-radius: 10px;
}
.demo-cont__credits-name {
  margin-bottom: 20px;
  font-size: 30px;
}
.demo-cont__credits-link {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
}
.demo-cont__credits-blend {
  font-size: 30px;
  margin-bottom: 10px;
}

.example-slider {
  z-index: 2;
  transform: translate3d(0, 0, 0);
  transition: transform 0.7s;
}
.credits-active .example-slider {
  transform: translate3d(-400px, 0, 0) rotateY(10deg) scale(0.9);
}
.example-slider .fnc-slide-1 .fnc-slide__inner,
.example-slider .fnc-slide-1 .fnc-slide__mask-inner {
  background-image: url("/assets/images/regular2.jpg");
}
.example-slider .fnc-slide-2 .fnc-slide__inner,
.example-slider .fnc-slide-2 .fnc-slide__mask-inner {
  background-image: url("/assets/images/deep2.jpg");
}
.example-slider .fnc-slide-3 .fnc-slide__inner,
.example-slider .fnc-slide-3 .fnc-slide__mask-inner {
  background-image: url("/assets/images/moveIn2.jpg");
}
.example-slider .fnc-slide-3 .fnc-slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.example-slider .fnc-slide-4 .fnc-slide__inner,
.example-slider .fnc-slide-4 .fnc-slide__mask-inner {
  background-image: url("/assets/images/moveOut.jpg");
}
.example-slider .fnc-slide-4 .fnc-slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.demo-cont__credits {
  .cardHeads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;

    button {
      border: none;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .blob-btn i {
    display: none;
  }

  .blob-btn:hover i {
    display: inline;
  }

  li {
    padding-left: 10px;
  }
  h4 {
    padding: 0 10px;
  }

  h3 {
    font-size: 2rem;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-width: 2px;
    border-radius: 8px;
  }

  b {
    color: #00f2f7;
  }
  ul li {
    list-style-position: inside;
  }
}

$cyan: #0fe0f5;
$dark: #222;
$borderW: 5px;

.blob-btn {
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 15px 40px;
  text-align: center;
  text-transform: uppercase;
  color: $cyan;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;

  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid $cyan;
    box-sizing: border-box;
    border-radius: 20px;
  }

  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW * 1.5;
    top: $borderW * 1.5;
    width: 100%;
    height: 100%;
    border: $borderW solid $dark;
    transition: all 0.3s 0.2s;
    box-sizing: border-box;
    border-radius: 20px;
  }

  &:hover {
    color: $dark;

    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
    }
  }

  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url("#goo");
  }

  &__blob {
    position: absolute;
    top: $borderW;
    width: calc(120% / $numOfBlobs);
    height: 100%;
    background: $cyan;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;

    @supports (filter: url("#goo")) {
      transform: translate3d(0, 150%, 0) scale(1.4);
    }

    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (calc(120% / $numOfBlobs));
        transition-delay: ($i - 1) * 0.08s;
      }
    }

    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);

      @supports (filter: url("#goo")) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
}

.moveIn {
  h2,
  b {
    color: #ffff33;
  }
  h3 {
    border-color: #ffff33;
  }
  .blob-btn {
    color: #ffff33;
    &:before {
      border: $borderW solid #ffff33;
    }
    &:after {
      border: $borderW solid $dark;
    }
    &:hover {
      color: $dark;
    }
    &__blob {
      background: #ffff33;
    }
  }
}

.regularCleaning {
  h2,
  b {
    color: #32cd32;
  }
  h3 {
    border-color: #32cd32;
  }
  .blob-btn {
    color: #32cd32;
    &:before {
      border: $borderW solid #32cd32;
    }
    &:after {
      border: $borderW solid $dark;
    }
    &:hover {
      color: $dark;
    }
    &__blob {
      background: #32cd32;
    }
  }
}

.deepCleaning {
  h2,
  b {
    color: #ff073a;
  }
  h3 {
    border-color: #ff073a;
  }
  .blob-btn {
    color: #ff073a;
    &:before {
      border: $borderW solid #ff073a;
    }
    &:after {
      border: $borderW solid $dark;
    }
    &:hover {
      color: $dark;
    }
    &__blob {
      background: #ff073a;
    }
  }
}

.moveOut {
  h2,
  b {
    color: #0fe0f5;
  }
  h3 {
    border-color: #0fe0f5;
  }
  .blob-btn {
    color: #0fe0f5;
    &:before {
      border: $borderW solid #0fe0f5;
    }
    &:after {
      border: $borderW solid $dark;
    }
    &:hover {
      color: $dark;
    }
    &__blob {
      background: #0fe0f5;
    }
  }
}

@media (max-width: 950px) {
  .fnc-slide__heading-line {
    font-size: 80px;
  }
}

@media (max-width: 465px) {
  .fnc-slide__mask {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 0,
      6vh 0,
      6vh 61vh,
      41vh 61vh,
      41vh 6vh,
      6vh 6vh
    );
  }
}

@media (max-width: 415px) {
  .demo-cont {
    background: #36454f;
  }
  .demo-cont__credits {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    left: 0;
  }
}

@media (max-width: 360px) or (max-height: 800px) {
  .demo-cont__credits {
    padding: 20px 0;
    .cardHeads {
      justify-content: space-between;
    }
    p {
      max-width: 750px;
      text-align: justify;
      padding: 0 10px;
      font-size: 12px;
    }
    ul {
      p,
      li {
        font-size: 12px;
        padding: 0 10px;
        max-width: 750px;
        text-align: justify;
      }
    }
  }
}

@media (max-height: 800px) or (max-width: 768px) {
  .fnc-slide__content {
    left: 25%;
  }

  .fnc-slide__heading-line {
    font-size: 70px;
  }
}

@media (max-width: 600px) or (max-height: 600px) {
  .fnc-slide__heading-line {
    font-size: 60px;
  }
}

@media (max-height: 500px) or (max-width: 500px) {
  .demo-cont__credits {
    gap: 5px;
  }

  .moveIn,
  .moveOut,
  .deepCleaning,
  .regularCleaning {
    h2 {
      font-size: 16px;
    }
    .demo-cont__close-btn img {
      height: 20px;
      width: 20px;
    }

    h3 {
      font-size: 1rem;
      padding: 5px;
    }

    h4 {
      font-size: 14px;
      padding: 0 5px;
    }

    .blob-btn {
      padding: 10px 25px;
      font-size: 12px;

      &::before {
        border-width: 3px;
      }
      &::after {
        border-width: 3px;
        left: 5.5px;
        top: 5.5px;
      }
    }
  }

  .fnc-slide__content {
    left: 10%;
  }
  .fnc-slide__heading-line {
    font-size: 40px;
  }
  .fnc-nav__control {
    font-size: 11px;
    width: 70px;
    height: 40px;
  }

  .fnc-slide__action-btn {
    margin-left: 100px;
  }
}

@media (max-height: 400px) and (max-width: 700px) {
}

@media (max-height: 650px) {
  .credits-active .example-slider {
    transform: translate3d(-700px, 0, 0) rotateY(10deg) scale(0.9);
  }
  .demo-cont__credits {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-height: 450px) {
  .credits-active .example-slider {
    transform: translate3d(-800px, 0, 0) rotateY(10deg) scale(0.9);
  }
  .demo-cont__credits {
    max-width: 800px;
  }
}

@media (max-height: 500px) and (max-width: 800px) {
  .moveIn,
  .moveOut,
  .deepCleaning,
  .regularCleaning {
    h3 {
      font-size: 1rem;
      padding: 5px;
      position: absolute;
      top: 10px;
    }
  }
  .fnc-slide__content {
    left: 40%;
  }

  .fnc-slide__action-btn {
    margin-left: 0;
  }
}
