<div
  class="serviceMain"
  [ngClass]="{
    'mobile-margin': isMobileDevice,
    'desktop-margin': !isMobileDevice
  }"
>
  <section id="regular">
    <img src="/assets/images/regular2.webp" alt="" />
    <div>
      <h2>Regular Cleaning</h2>
      <p>
        Regular cleaning is an essential service designed to keep your home or
        office environment consistently clean, comfortable, and inviting. This
        service is ideal for those who wish to maintain a high level of
        cleanliness in their space on a frequent basis. Regular cleaning
        typically includes a comprehensive range of tasks such as dusting
        furniture and fixtures, vacuuming carpets and rugs, mopping hard floors,
        wiping down all accessible surfaces, and thoroughly cleaning the kitchen
        and bathroom areas. In the kitchen, regular cleaning covers tasks like
        cleaning the sink, countertops, and exterior surfaces of appliances, as
        well as wiping down cabinet doors and sweeping and mopping the floors.
        In the bathroom, regular cleaning involves disinfecting and scrubbing
        the toilet, sink, and shower or bathtub, as well as cleaning mirrors and
        floors. This service ensures that your living or working space remains
        fresh, hygienic, and clutter-free, providing a pleasant atmosphere for
        you, your family, or your employees.
      </p>
      <button class="btn-11" (click)="navigateToCalculator('regular')">
        Book Now
      </button>
    </div>
  </section>
  <section id="deep">
    <div>
      <h2>Deep Cleaning</h2>
      <p>
        Deep cleaning is a specialized and exhaustive cleaning service that goes
        far beyond the scope of regular cleaning. It is designed for spaces that
        require a more intensive clean, typically after a prolonged period of
        neglect or before or after major events or seasonal changes. Deep
        cleaning involves a meticulous approach to cleaning every nook and
        cranny of your home or office, including those areas that are often
        overlooked during regular cleaning. This service typically includes
        scrubbing and sanitizing the interior and exterior of kitchen appliances
        like ovens, refrigerators, and microwaves; cleaning inside cupboards and
        drawers; washing baseboards, door frames, and light fixtures; deep
        cleaning of tiles and grout in bathrooms and kitchens; and thorough
        dusting and cleaning of hard-to-reach areas like ceiling fans, vents,
        and behind furniture. In addition, deep cleaning can involve specialized
        tasks such as stain removal from carpets and upholstery, and intensive
        cleaning of windows, blinds, and window sills. This service is ideal for
        homeowners who want to refresh their living spaces or prepare their
        homes for guests, as well as for businesses looking to present a
        pristine and professional environment to clients and employees.
      </p>
      <button class="btn-11" (click)="navigateToCalculator('deep')">
        Book Now
      </button>
    </div>
    <img src="/assets/images/deep2.webp" alt="" />
  </section>
  <section id="moveInv">
    <img src="/assets/images/moveIn2.webp" alt="" />
    <div>
      <h2>Move In Service</h2>
      <p>
        Move In cleaning is an essential service designed to ensure that your
        new home is not only spotless but also ready for you and your family to
        settle in with peace of mind. This service is especially important when
        moving into a previously occupied home or apartment, where a thorough
        clean is necessary to remove any dirt, dust, or allergens left behind by
        previous occupants. Move In cleaning covers every corner of your new
        home, from the bedrooms and living areas to the kitchen, bathrooms, and
        storage spaces. The service includes detailed cleaning of all surfaces,
        such as scrubbing and sanitizing kitchen countertops, sinks, and
        fixtures, cleaning inside and outside of all appliances like ovens and
        refrigerators, and wiping down the interiors and exteriors of cabinets
        and drawers. In bathrooms, the service involves deep cleaning of
        showers, bathtubs, toilets, sinks, and mirrors, ensuring that all
        fixtures are disinfected and sparkling. Floors throughout the home are
        thoroughly vacuumed and mopped, and all windows, windowsills, and doors
        are cleaned. Move In cleaning gives you the confidence that your new
        living space is clean, fresh, and ready for you to make it your own.
      </p>
      <button class="btn-11" (click)="navigateToCalculator('moveIn')">
        Book Now
      </button>
    </div>
  </section>
  <section id="moveOut">
    <div>
      <h2>Move Out Service</h2>
      <p>
        Move Out cleaning is an indispensable service that helps ensure you
        leave your old home in the best possible condition, whether you're
        moving out of a rental property and need to meet the terms of your lease
        or selling your home and want to make a great impression on potential
        buyers. This comprehensive cleaning service addresses every aspect of
        your home, ensuring that it is left in pristine condition for the next
        occupants. Move Out cleaning includes thoroughly cleaning and sanitizing
        all rooms, with special attention given to the kitchen and bathrooms. In
        the kitchen, all appliances are cleaned inside and out, countertops and
        sinks are scrubbed, and all cabinets and drawers are wiped down inside
        and outside. In bathrooms, all fixtures, including showers, bathtubs,
        toilets, and sinks, are cleaned and disinfected, and all mirrors and
        floors are thoroughly cleaned. Floors throughout the home are vacuumed
        and mopped, and all carpets are either vacuumed or steam-cleaned,
        depending on the service level. Move Out cleaning also involves cleaning
        windows, wiping down baseboards, and ensuring all areas, including
        closets and storage spaces, are dust-free and clean. This service helps
        you leave your old home with a clean slate, ensuring a smooth transition
        and the return of your security deposit if you're renting.
      </p>
      <button class="btn-11" (click)="navigateToCalculator('moveOut')">
        Book Now
      </button>
    </div>
    <img src="/assets/images/moveOut.webp" alt="" />
  </section>
  <section id="posrRenovation">
    <img src="/assets/images/renovation.webp" alt="" />
    <div>
      <h2>Post Renovation Service</h2>
      <p>
        Post Renovation cleaning is a crucial service designed to address the
        unique challenges that come with cleaning up after construction or
        renovation work. Renovation projects often leave behind a significant
        amount of dust, debris, and construction residue that can be difficult
        to clean up without professional help. Post Renovation cleaning focuses
        on thoroughly removing this dust and debris from all surfaces, including
        walls, ceilings, floors, and fixtures, to ensure that your newly
        renovated space is clean, safe, and ready for use. This service
        typically includes the removal of paint splatters, adhesive residues,
        and other construction-related stains; cleaning and polishing of all new
        fixtures and fittings; vacuuming and mopping of all floors; and detailed
        cleaning of windows, sills, and frames. The service also involves
        cleaning inside and outside of new cabinets, drawers, and closets, as
        well as ensuring that all appliances and surfaces are free from
        construction dust and debris. Post Renovation cleaning is ideal for
        homeowners, landlords, and businesses who want to enjoy their newly
        renovated space without the hassle of cleaning up after construction.
        This service helps to reveal the true beauty of your renovated space by
        leaving it spotless and ready for you to enjoy.
      </p>
      <button class="btn-11">Book Now</button>
    </div>
  </section>
  <section id="custom">
    <div>
      <h2>Custom Cleaning</h2>
      <p>
        Custom Cleaning is a highly personalized service that caters to your
        unique cleaning needs and preferences. Whether you require a focused
        clean on specific areas of your home or office, or you have particular
        tasks in mind that don't fit into standard cleaning packages, Custom
        Cleaning gives you the flexibility to create a cleaning plan that suits
        your exact requirements. This service allows you to choose from a wide
        range of cleaning tasks, from basic upkeep like dusting, vacuuming, and
        mopping, to more specialized tasks like deep cleaning of specific rooms,
        stain removal, window washing, and organization services. You can
        customize the frequency of the cleaning service, whether you need it on
        a one-time basis, weekly, bi-weekly, or monthly, and you can adjust the
        scope of work according to your needs. Custom Cleaning is ideal for
        clients who have specific priorities, such as preparing for a special
        event, cleaning after a large gathering, or focusing on particular areas
        like the kitchen, bathrooms, or guest rooms. By tailoring the cleaning
        service to your preferences, Custom Cleaning ensures that every corner
        of your space is cleaned to your satisfaction.
      </p>
      <button class="btn-11" (click)="navigateToCalculator('custom')">
        Book Now
      </button>
    </div>
    <img src="/assets/images/custom.webp" alt="" />
  </section>
</div>
