.tooltip {
  position: absolute;
  margin-top: 3px;
  margin-left: 15px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  max-width: 250px;
  z-index: 4;
  width: 100%;
  pointer-events: none; /* Ensure the tooltip doesn't interfere with hover events */
}
