<div>
  <h1>ABOUT</h1>
  <p>
    We are a team that always cares about your comfort and cleanliness. Our
    experienced and friendly group helps you reduce stress and plan a wonderful
    day."
  </p>
</div>
<div>
  <h3>OUR MISSION</h3>
  <p>
    "Our goal is to maintain the cleanliness and hygiene of your home or office
    while you focus on work, leisure, and exploration. With busy schedules,
    cleaning can often take a back seat. At our company, we value each customer
    and approach every project uniquely. Our primary objective is to provide
    exceptional services tailored to meet the specific needs of every household,
    regardless of size or condition. Our residential cleaning services
    encompass: Essential Home Cleaning, Kitchen and Bathroom Sanitization,
    Comprehensive Cleaning Solutions, Intensive Cleaning, Personalized Services,
    Moving In or Out Cleaning, Heavy Duty Cleaning, Thorough Cleaning,
    Post-Construction Cleanup, Apartment Maintenance, and Airbnb Turnover
    Cleaning."
  </p>
  <ol>
    <h4>DC GUARANTEE:</h4>
    <li>
      <b>Exemplary Service Standards</b> - Our hallmark is superior
      concierge-style service, always personalized.
    </li>
    <li>
      <b>Comprehensive Supplies</b> - We bring everything, including
      eco-friendly cleaning supplies and our own vacuum!
    </li>
    <li>
      <b>Secure and Reliable</b> - Rest easy knowing our professionals are
      trustworthy, bonded, and insured.
    </li>
    <li>
      <b>Competitive Rates</b> - Enjoy fair pricing and exclusive discounts for
      recurring and loyal clients.
    </li>
    <li>
      <b>Flexible Booking</b> - Book your way: by phone, text, email, through
      our website, or app.
    </li>
    <li>
      <b>Thoroughly Vetted</b> - Our cleaning pros are rigorously vetted,
      trained, and eager to serve you.
    </li>
  </ol>
</div>
