.extra-services-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 10px 0;
}

.btn-container {
  position: relative; /* Ensure the tooltip has a positioning context */
}

.extra-services-buttons .btn {
  text-align: center;
  background: #ebf5ff;
  border: 1px solid #ccc;
  padding: 0.75rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  span {
    font-size: 20px;
    color: #000;
  }
}

.extra-services-buttons .btn:hover {
  border: 1px solid #676cff;
}

.extra-services-buttons .btn.selected {
  background: #676cff;
  color: #fff;
  span {
    color: #fff;
  }
}

.number-input-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  justify-content: center;

  input[type="number"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    outline: none;
    z-index: 2;
  }

  .confirm-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #44d62c;
    }
  }
}

.organizing-input,
.insideWindows-input,
.walls-input {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.organizing-selection,
.insideWindows-selection,
.walls-selection {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.bordered-group {
  padding: 10px;
}

h3 {
  margin-top: 0;
}

.vacuum-options {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.vacuum-options .btn {
  flex: 1;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 0.75rem;
  box-sizing: border-box;
  cursor: pointer;
}

.vacuum-options .btn.selected,
.vacuum-options .btn:hover {
  background-color: #007bff;
  color: #fff;
}

.vacuum-selection {
  margin-top: 0.5rem;
}

.organizing-input,
.insideWindows-input,
.walls-input {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.organizing-input input,
.insideWindows-input input,
.walls-input input {
  width: 50%; /* Adjust the width as needed */
  text-align: center;
}

.organizing-input .btn.confirm-btn,
.insideWindows-input .btn.confirm-btn,
.walls-input .btn.confirm-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 50%;
}

.organizing-input .btn.confirm-btn:hover,
.insideWindows-input .btn.confirm-btn:hover,
.walls-input .btn.confirm-btn:hover {
  background-color: #44d62c;
  font-weight: bold;
}

input[type="number"] {
  position: relative;
  width: 100%;
  text-align: center;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

.arrowsContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;

  .arrow-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    i {
      color: #000;
      background: transparent;
    }
  }

  .increase {
    position: absolute;
    top: -5%;
    right: 5%;
    z-index: 3;
    background: transparent;
    i {
      &:hover,
      &:active {
        color: #44d62c;
      }
    }
  }

  .decrease {
    position: absolute;
    top: -5%;
    left: 5%;
    z-index: 3;
    background: transparent;
    i {
      &:hover,
      &:active {
        color: #ff3131;
      }
    }
  }
}

@media (max-width: 900px) {
  app-tooltip {
    display: none;
  }
}

@media (max-width: 768px) {
  .extra-services-buttons {
    gap: 5px;
    .btn-container {
      .btn {
        padding: 5px;
      }
    }
  }
}

@media (max-width: 580px) {
  .extra-services-buttons {
    grid-template-columns: repeat(3, 1fr);

    .btn-container {
      .number-input-container input {
        font-size: 14px;
        padding: 0.3rem;
      }
      .organizing-selection,
      .insideWindows-selection,
      .walls-selection {
        margin-top: 0;
      }

      .arrowsContainer {
        gap: 2px;
      }
    }
  }

  h3 {
    font-size: 16px;
  }
  .arrowsContainer {
    .increase {
      top: -20%;
      right: 5%;
      z-index: 3;
      i {
        &:hover {
          color: #000;
        }
        &:active {
          color: #44d62c;
        }
      }
    }

    .decrease {
      position: absolute;
      top: -20%;
      left: 5%;
      z-index: 3;
      i {
        &:hover {
          color: #000;
        }
        &:active {
          color: #ff3131;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .extra-services-buttons {
    .btn-container {
      img {
        height: 45px;
        width: 45px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}
