<div class="relative-container">
  <div class="form-group bordered-group">
    <label><h3>Extra Services</h3></label>
    <div class="extra-services-buttons">
      <ng-container *ngFor="let extra of extraServices">
        <div
          class="btn-container"
          (mouseover)="showTooltip(extra.controlName)"
          (mouseout)="hideTooltip()"
          *ngIf="!(isCustomCleaning && extra.controlName === 'organizing')"
        >
          <button
            type="button"
            class="btn"
            [class.selected]="parentForm.get(extra.controlName)?.value"
            (click)="toggleExtraService(extra.controlName)"
          >
            <img
              [src]="extra.iconPath"
              alt="{{ extra.label }} icon"
              class="icon"
            />
            <span
              *ngIf="
                !(
                  (extra.controlName === 'organizing' && showOrganizingInput) ||
                  (extra.controlName === 'insideWindows' && showWindowsInput) ||
                  (extra.controlName === 'wallCleaning' && showWallsInput)
                )
              "
            >
              {{ extra.label }}
            </span>
            <!-- aq -->
            <div
              *ngIf="extra.controlName === 'insideWindows' && showWindowsInput"
              class="insideWindows-input"
            >
              <div class="number-input-container">
                <input
                  type="number"
                  [min]="1"
                  [max]="20"
                  [step]="1"
                  [value]="parentForm.get('insideWindows')?.value"
                  (click)="$event.stopPropagation()"
                  (input)="onInsideWindowsChange($event)"
                />
                <div class="arrowsContainer">
                  <button
                    type="button"
                    class="arrow-btn increase"
                    (click)="increaseInsideWindows($event)"
                  >
                    <i class="fa-solid fa-square-plus fa-3x"></i>
                  </button>
                  <button
                    type="button"
                    class="arrow-btn decrease"
                    (click)="decreaseInsideWindows($event)"
                  >
                    <i class="fa-solid fa-square-minus fa-3x"></i>
                  </button>
                </div>
                <button
                  type="button"
                  class="btn confirm-btn"
                  (click)="confirmInsideWindowsNumbers($event)"
                >
                  {{ buttonText }}
                </button>
              </div>
            </div>

            <div
              *ngIf="
                extra.controlName === 'insideWindows' &&
                parentForm.get('insideWindows')?.value &&
                !showWindowsInput
              "
              class="insideWindows-selection"
            >
              {{ parentForm.get("insideWindows")?.value }}
              {{ getWindowsText() }}
            </div>

            <div
              *ngIf="extra.controlName === 'wallCleaning' && showWallsInput"
              class="walls-input"
            >
              <div class="number-input-container">
                <input
                  type="number"
                  [min]="1"
                  [max]="20"
                  [step]="1"
                  [value]="parentForm.get('wallCleaning')?.value"
                  (click)="$event.stopPropagation()"
                  (input)="onWallsChange($event)"
                />
                <div class="arrowsContainer">
                  <button
                    type="button"
                    class="arrow-btn increase"
                    (click)="increaseWalls($event)"
                  >
                    <i class="fa-solid fa-square-plus fa-3x"></i>
                  </button>
                  <button
                    type="button"
                    class="arrow-btn decrease"
                    (click)="decreaseWalls($event)"
                  >
                    <i class="fa-solid fa-square-minus fa-3x"></i>
                  </button>
                </div>
                <button
                  type="button"
                  class="btn confirm-btn"
                  (click)="confirmWallsNumbers($event)"
                >
                  {{ buttonText }}
                </button>
              </div>
            </div>

            <div
              *ngIf="
                extra.controlName === 'wallCleaning' &&
                parentForm.get('wallCleaning')?.value &&
                !showWallsInput
              "
              class="walls-selection"
            >
              {{ parentForm.get("wallCleaning")?.value }} {{ getWallsText() }}
            </div>

            <div
              *ngIf="extra.controlName === 'organizing' && showOrganizingInput"
              class="organizing-input"
            >
              <div class="number-input-container">
                <input
                  type="number"
                  [min]="0.5"
                  [max]="5"
                  [step]="0.5"
                  [value]="parentForm.get('organizing')?.value"
                  (click)="$event.stopPropagation()"
                  (input)="onOrganizingHoursChange($event)"
                />
                <div class="arrowsContainer">
                  <button
                    type="button"
                    class="arrow-btn increase"
                    (click)="increaseOrganizingHours($event)"
                  >
                    <i class="fa-solid fa-square-plus fa-3x"></i>
                  </button>
                  <button
                    type="button"
                    class="arrow-btn decrease"
                    (click)="decreaseOrganizingHours($event)"
                  >
                    <i class="fa-solid fa-square-minus fa-3x"></i>
                  </button>
                </div>
                <button
                  type="button"
                  class="btn confirm-btn"
                  (click)="confirmOrganizingHours($event)"
                >
                  {{ buttonText }}
                </button>
              </div>
            </div>

            <div
              *ngIf="
                extra.controlName === 'organizing' &&
                parentForm.get('organizing')?.value &&
                !showOrganizingInput
              "
              class="organizing-selection"
            >
              Extra {{ parentForm.get("organizing")?.value }} hours
            </div>
          </button>
          <app-tooltip
            *ngIf="tooltipVisible && currentTooltip === extra.controlName"
            [controlName]="extra.controlName"
          ></app-tooltip>
        </div>
      </ng-container>
    </div>
  </div>
</div>
