<div class="background">
  <form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div
        class="left-side"
        [ngClass]="{
          'mobile-margin': isMobileDevice,
          'desktop-margin': !isMobileDevice
        }"
      >
        <!-- Service Type -->
        <div class="relative-container">
          <div class="form-group col bordered-group">
            <div class="col serviceType" #entryMethodRef>
              <h3>Service Type **</h3>
              <div class="col">
                <select
                  formControlName="serviceType"
                  id="serviceType"
                  class="form-control"
                  (change)="onServiceTypeChange()"
                >
                  <option value="Residential">
                    Residential Cleaning Service
                  </option>
                  <option value="Move In">Move In Cleaning Package</option>
                  <option value="Move Out">Move Out Cleaning Package</option>
                  <option value="Post Renovation">
                    Post Renovation Cleaning
                  </option>
                  <option value="Custom Cleaning">Custom Cleaning</option>
                </select>
                <div
                  *ngIf="
                    calculatorForm.get('serviceType')!.invalid &&
                    calculatorForm.get('serviceType')!.touched
                  "
                  class="error"
                >
                  Please select a service type.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Bedrooms and Bathrooms -->
        <div
          *ngIf="!isCustomCleaning && !isRenovationCleaning"
          class="relative-container"
        >
          <div class="apartment">
            <h3>Tell us about your apartment **</h3>
            <p>
              Please select the number of bedrooms and bathrooms, also square
              feet of your apartment. The kitchen and living room are
              automatically included in the service.
            </p>
            <div class="form-group typeRow">
              <div class="col" #entryMethodRef>
                <select
                  formControlName="bedrooms"
                  id="bedrooms"
                  class="form-control"
                >
                  <option value="studio">Studio Clean</option>
                  <option value="one">One Bedroom Clean</option>
                  <option value="two">Two Bedrooms Clean</option>
                  <option value="three">Three Bedrooms Clean</option>
                  <option value="four">Four Bedrooms Clean</option>
                  <option value="five">Five Bedrooms Clean</option>
                  <option value="six">Six Bedrooms Clean</option>
                </select>
                <div
                  *ngIf="
                    calculatorForm.get('bedrooms')!.invalid &&
                    calculatorForm.get('bedrooms')!.touched
                  "
                  class="error"
                >
                  Please select the number of bedrooms.
                </div>
              </div>
              <div class="col">
                <select
                  formControlName="bathrooms"
                  id="bathrooms"
                  class="form-control"
                >
                  <option *ngFor="let i of bathroomOptions" [value]="i">
                    {{ i }} {{ i === 1 ? "Bathroom" : "Bathrooms" }}
                  </option>
                </select>
              </div>
              <div class="col" #entryMethodRef>
                <div class="col">
                  <select
                    formControlName="squareFeet"
                    id="squareFeet"
                    class="form-control"
                  >
                    <option
                      *ngFor="let sqft of squareFeetOptions"
                      [value]="sqft.value"
                    >
                      {{ sqft.label }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      calculatorForm.get('squareFeet')!.invalid &&
                      calculatorForm.get('squareFeet')!.touched
                    "
                    class="error"
                  >
                    Please select a square feet option.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Cleaners and Hours (Custom Cleaning) -->
        <div *ngIf="isCustomCleaning" class="relative-container cleanHours">
          <h3 class="hourlyService">
            Hourly Service: {{ deepCleaningChecked ? "$65" : "$45" }} per
            hour/per cleaner
            <span *ngIf="deepCleaningChecked" class="deep-cleaning-text"
              >(Deep Cleaning)</span
            >
          </h3>
          <p>
            Please choose how many cleaners you need and the duration of their
            service.
          </p>
          <div class="form-group row customHours">
            <div class="col">
              <select
                formControlName="cleaners"
                id="cleaners"
                class="form-control"
              >
                <option value="" disabled>Select number of cleaners**</option>
                <option *ngFor="let i of cleanersOptions" [value]="i">
                  {{ i }} {{ i === 1 ? "Cleaner" : "Cleaners" }}
                </option>
              </select>
            </div>
            <div class="col cleanerHours">
              <select formControlName="hours" id="hours" class="form-control">
                <option value="" disabled>Select number of hours**</option>
                <option *ngFor="let hour of hoursOptions" [value]="hour">
                  {{ formatTimeToHoursAndMinutes(hour) }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- Cleaners and Hours (Renovation Cleaning) -->
        <div *ngIf="isRenovationCleaning" class="relative-container cleanHours">
          <h3 class="hourlyService">
            Hourly Service: {{ deepCleaningChecked ? "$70" : "$50" }} per
            hour/per cleaner
            <span *ngIf="deepCleaningChecked" class="deep-cleaning-text"
              >(Deep Cleaning)</span
            >
          </h3>
          <p>
            Please choose how many cleaners you need and the duration of their
            service.
          </p>
          <div class="form-group row customHours">
            <div class="col">
              <select
                formControlName="cleaners"
                id="cleaners"
                class="form-control"
              >
                <option value="" disabled>Select number of cleaners**</option>
                <option *ngFor="let i of cleanersOptions" [value]="i">
                  {{ i }} {{ i === 1 ? "Cleaner" : "Cleaners" }}
                </option>
              </select>
            </div>
            <div class="col cleanerHours">
              <select formControlName="hours" id="hours" class="form-control">
                <option value="" disabled>Select number of hours**</option>
                <option *ngFor="let hour of hoursOptions" [value]="hour">
                  {{ formatTimeToHoursAndMinutes(hour) }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- Extra Services -->
        <app-extra-services
          [parentForm]="calculatorForm"
          [isCustomCleaning]="isCustomCleaning"
          [isRenovationCleaning]="isRenovationCleaning"
          (extraServiceChanged)="onExtraServiceChanged($event)"
          (sameDayServiceChanged)="onSameDayServiceChanged($event)"
        ></app-extra-services>

        <!-- Service Date and Time -->
        <div class="relative-container">
          <div class="form-group col bordered-group">
            <h3>Service Date & Time **</h3>
            <div class="row dateTime">
              <div class="col errorSpace" #entryMethodRef>
                <div class="flatpickr" id="datePickerWrapper">
                  <input
                    type="text"
                    formControlName="serviceDate"
                    id="serviceDate"
                    class="form-control date-input"
                    placeholder="Service Date**"
                    data-input
                    [class.disabled]="
                      calculatorForm.get('serviceDate')!.disabled
                    "
                    [attr.disabled]="
                      calculatorForm.get('serviceDate')!.disabled ? true : null
                    "
                    [attr.readonly]="
                      calculatorForm.get('serviceDate')!.disabled ? true : null
                    "
                  />
                  <a class="input-button" title="toggle" data-toggle>
                    <img
                      style="height: 35px; width: 35px"
                      class="icon-calendar"
                      src="/assets/images/calendar.webp"
                      alt=""
                    />
                  </a>
                  <a
                    class="input-button"
                    title="clear"
                    data-clear
                    id="clearDateButton"
                  >
                    <img
                      style="height: 35px; width: 35px"
                      class="icon-close"
                      src="/assets/images/close.webp"
                      alt=""
                    />
                  </a>
                </div>
                <div
                  *ngIf="
                    calculatorForm.get('serviceDate')!.invalid &&
                    calculatorForm.get('serviceDate')!.touched
                  "
                  class="error"
                >
                  Please select a service date.
                </div>
              </div>
              <div class="col errorSpace" #entryMethodRef>
                <div class="flatpickr" id="timePickerWrapper">
                  <input
                    type="text"
                    formControlName="serviceTime"
                    id="serviceTime"
                    class="form-control time-input"
                    placeholder="Service Time**"
                    data-input
                  />
                  <a class="input-button" title="toggle" data-toggle>
                    <img
                      style="height: 35px; width: 35px"
                      class="icon-clock"
                      src="/assets/images/clock.webp"
                      alt=""
                    />
                  </a>
                  <a class="input-button" title="clear" data-clear>
                    <img
                      style="height: 35px; width: 35px"
                      class="icon-close"
                      src="/assets/images/close.webp"
                      alt=""
                    />
                  </a>
                </div>
                <div
                  *ngIf="
                    calculatorForm.get('serviceTime')!.invalid &&
                    calculatorForm.get('serviceTime')!.touched
                  "
                  class="error"
                >
                  Please select a service time.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Frequency -->
        <div class="relative-container">
          <div class="form-group bordered-group">
            <label><h3>Frequency **</h3></label>
            <div class="frequency-buttons">
              <button
                type="button"
                class="btn"
                *ngFor="let freq of frequencies"
                [class.selected]="
                  calculatorForm.get('frequency')!.value === freq.value
                "
                (click)="setFrequency(freq.value)"
              >
                {{ freq.label }}
              </button>
            </div>
          </div>
        </div>

        <!-- Tips Input -->
        <div class="relative-container row tipsDiscount">
          <div class="form-group bordered-group tips">
            <label for="tips"><h3>Tips For Cleaners</h3></label>
            <p>Min $10</p>
            <div class="input-container">
              <span class="currency-symbol">$</span>
              <input
                type="number"
                formControlName="tips"
                id="tips"
                class="form-control tipsInput"
                placeholder="Tips"
                min="0"
                step="1"
                (input)="onTipsInput($event)"
              />
            </div>
          </div>

          <!--  Discounts -->
          <div class="form-group bordered-group discount">
            <label><h3>Discounts</h3></label>
            <p>Choose Your Discounts</p>
            <div class="discount-buttons">
              <button
                type="button"
                class="btn"
                *ngFor="let disc of discounts"
                [class.selected]="
                  calculatorForm.get('discount')!.value === disc.value
                "
                (click)="toggleDiscount(disc.value)"
              >
                {{ disc.label }}
              </button>
            </div>
          </div>
          <!-- Discounts End -->
        </div>

        <!-- Entry Method -->
        <div class="relative-container">
          <div class="form-group bordered-group errorSpace" #entryMethodRef>
            <label for="entryMethod"><h3>Entry Method **</h3></label>
            <select
              formControlName="entryMethod"
              id="entryMethod"
              class="form-control"
            >
              <i class="fa-solid fa-chevron-down"></i>
              <option value="" disabled>Select entry method</option>
              <option value="keyUnderMat">Key Under Mat</option>
              <option value="leaveOpen">Leave Open</option>
              <option value="meetInPerson">Meet in Person</option>
            </select>
            <div
              *ngIf="
                calculatorForm.get('entryMethod')!.invalid &&
                calculatorForm.get('entryMethod')!.touched
              "
              class="error"
            >
              Please select a entry method.
            </div>
          </div>
        </div>

        <!-- Special Instructions -->
        <div class="relative-container">
          <div class="form-group bordered-group">
            <label for="specialInstructions"
              ><h3>Special Instructions</h3></label
            >
            <textarea
              formControlName="specialInstructions"
              id="specialInstructions"
              class="form-control"
              placeholder="Special Instructions for Cleaners"
            ></textarea>
          </div>
        </div>

        <!-- Contact Information -->
        <div class="contact-info">
          <h3>Contact Info</h3>
          <p>
            We will use this information to keep in contact with you. Your
            personal information will remain confidential and will not be shared
            with others.
          </p>
          <div class="formsGap">
            <div class="row contactInfo">
              <div class="col errorSpace" #entryMethodRef>
                <input
                  type="text"
                  formControlName="name"
                  id="name"
                  class="form-control"
                  placeholder="First Name**"
                />
                <div
                  *ngIf="
                    calculatorForm.get('name')!.invalid &&
                    calculatorForm.get('name')!.touched
                  "
                  class="error"
                >
                  Please enter your first name.
                </div>
              </div>
              <div class="col errorSpace" #entryMethodRef>
                <input
                  type="text"
                  formControlName="lastName"
                  id="lastName"
                  class="form-control"
                  placeholder="Last Name**"
                />
                <div
                  *ngIf="
                    calculatorForm.get('lastName')!.invalid &&
                    calculatorForm.get('lastName')!.touched
                  "
                  class="error"
                >
                  Please enter your last name.
                </div>
              </div>
            </div>
            <div class="row contactInfo">
              <div class="col errorSpace" #entryMethodRef>
                <input
                  type="email"
                  formControlName="email"
                  id="email"
                  class="form-control"
                  placeholder="Email**"
                />
                <div
                  *ngIf="
                    calculatorForm.get('email')!.invalid &&
                    calculatorForm.get('email')!.touched
                  "
                  class="error"
                >
                  Please enter a valid email.
                </div>
              </div>
              <div class="col errorSpace" #entryMethodRef>
                <div
                  class="cell-number-container"
                  [class.focused]="isFocused"
                  [class.has-value]="cellNumberInput.value!.length > 0"
                >
                  <span class="prefix">+1</span>
                  <input
                    type="text"
                    formControlName="cellNumber"
                    id="cellNumber"
                    class="form-control"
                    placeholder="Cell Number**"
                    #cellNumberInput
                    (input)="onCellNumberInput($event)"
                    (focus)="onFocus()"
                    (blur)="onBlur()"
                  />
                </div>

                <div
                  *ngIf="
                    calculatorForm.get('cellNumber')!.invalid &&
                    calculatorForm.get('cellNumber')!.touched
                  "
                  class="error"
                >
                  <div
                    *ngIf="calculatorForm.get('cellNumber')!.errors?.['required']"
                  >
                    Please enter your cell number.
                  </div>
                  <div
                    *ngIf="calculatorForm.get('cellNumber')!.errors?.['cellNumberInvalid']"
                  >
                    Cell number must be 10 digits.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- end of Contact Information -->
        <!-- Address Information -->

        <div class="address-info">
          <h3>Address</h3>
          <div class="formsGap">
            <div class="row addressInfoUp">
              <div class="col address-flex errorSpace" #entryMethodRef>
                <input
                  type="text"
                  formControlName="address"
                  id="address"
                  class="form-control"
                  placeholder="Address**"
                />
                <div
                  *ngIf="
                    calculatorForm.get('address')!.invalid &&
                    calculatorForm.get('address')!.touched
                  "
                  class="error"
                >
                  Please enter your address.
                </div>
              </div>
              <div class="col errorSpace" #entryMethodRef>
                <input
                  type="text"
                  formControlName="apartment"
                  id="apartment"
                  class="form-control"
                  placeholder="Apt/Suite #"
                />
              </div>
            </div>
            <div class="row addressInfoDown">
              <div class="row address-flex">
                <div class="col address-flex errorSpace" #entryMethodRef>
                  <select formControlName="city" id="city" class="form-control">
                    <option value="" disabled>Select City**</option>
                    <option value="bro">Brooklyn</option>
                    <option value="man">Manhattan</option>
                    <option value="que">Queens</option>
                    <!-- ... other cities ... -->
                  </select>
                  <div
                    *ngIf="
                      calculatorForm.get('city')!.invalid &&
                      calculatorForm.get('city')!.touched
                    "
                    class="error"
                  >
                    Please enter your city.
                  </div>
                </div>
                <div class="col errorSpace" #entryMethodRef>
                  <select
                    formControlName="state"
                    id="state"
                    class="form-control"
                  >
                    <option value="" disabled>Select State**</option>
                    <option value="NY">New York</option>
                    <!-- ... other states ... -->
                  </select>
                  <div
                    *ngIf="
                      calculatorForm.get('state')!.invalid &&
                      calculatorForm.get('state')!.touched
                    "
                    class="error"
                  >
                    Please select your state.
                  </div>
                </div>
              </div>

              <div class="col errorSpace" #entryMethodRef>
                <input
                  type="text"
                  formControlName="zipCode"
                  id="zipCode"
                  class="form-control"
                  placeholder="Zip Code**"
                />
                <div
                  *ngIf="
                    calculatorForm.get('zipCode')!.invalid &&
                    calculatorForm.get('zipCode')!.touched
                  "
                  class="error"
                >
                  Please enter zip code.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- end of addres information -->

        <!-- Checkbox for get messages -->
        <!-- Checkbox for receiving messages -->
        <div class="relative-container">
          <div class="form-group bordered-group msgCheck">
            <input
              type="checkbox"
              formControlName="receiveMessages"
              id="receiveMessages"
              class="form-control"
            />
            <label for="receiveMessages">
              By checking this box, you agree to receive and send text messages
              from and to our company.
            </label>

            <!-- <div
              *ngIf="
                calculatorForm.get('receiveMessages')!.invalid &&
                calculatorForm.get('receiveMessages')!.touched
              "
              class="error"
            >
              You must agree to receive messages and updates.
            </div> -->
          </div>
        </div>
        <div class="relative-container">
          <div class="form-group bordered-group msgCheck" #entryMethodRef>
            <input
              type="checkbox"
              formControlName="agreeTxt"
              id="agreeTxt"
              class="form-control"
              [ngClass]="{
                'error-flash':
                  calculatorForm.get('agreeTxt')?.invalid &&
                  calculatorForm.get('agreeTxt')?.touched
              }"
            />
            <label for="agreeTxt">
              I understand that I will be charged a $70 cancellation fee if I
              cancel or reschedule my appointment less than 24 hours before the
              scheduled service. I also confirm that the booking details
              accurately reflect the cleaning requirements. If the actual
              condition differs from the described details, Dream Cleaning Team
              reserves the right to either leave or adjust the services to match
              the actual condition.**
            </label>
          </div>
          <div
            *ngIf="
              calculatorForm.get('agreeTxt')?.invalid &&
              calculatorForm.get('agreeTxt')?.touched
            "
            class="error"
          >
            You must agree to our terms.
          </div>
        </div>

        <div class="bookNowButton first">
          <button
            type="button"
            class="btn btn-success"
            [ngClass]="{
              disabled: !calculatorForm.valid
            }"
            (click)="onBookNowClick()"
          >
            Book Now
          </button>
          <p>
            <b>Please note:</b> We accept credit or debit cards, and all online
            payments are securely processed through Stripe. When you book with
            Dream Cleaning, you can rest assured that your transaction is safe
            and protected. At the time of scheduling, we place a hold on your
            card (which may appear as 'pending' on your statement), rather than
            a charge. By ordering our services and providing your credit card
            details, you consent to us charging your card for the service fee.
            Your card will only be charged once the cleaning is completed.
          </p>
        </div>

        <!-- Payment Method Selection Modal -->
        <div *ngIf="showPaymentMethodSelection" class="overlay">
          <div class="payment-method-selection-container">
            <span (click)="closePaymentMethodSelection()" class="close-button">
              &times;
            </span>
            <h3>Select Payment Method</h3>
            <!-- <button
              (click)="selectPaymentMethod('paypal')"
              class="payment-method-button"
            >
              Pay with PayPal
            </button> -->
            <button
              (click)="selectPaymentMethod('creditcard')"
              class="payment-method-button"
            >
              Book with Credit/Debit Card
            </button>
          </div>
        </div>

        <!-- PayPal Payment Form -->
        <div *ngIf="showPayPalForm && total !== null" class="overlay">
          <app-paypal-button
            [amount]="total!"
            (close)="closePaymentForm()"
            (paymentSuccess)="onPaymentSuccess($event)"
          ></app-paypal-button>
        </div>

        <!-- Credit/Debit Card Payment Form -->
        <div *ngIf="showCreditCardForm && total !== null" class="overlay">
          <app-payment-form
            [amount]="total!"
            [formValues]="calculatorForm.value"
            (close)="closePaymentForm()"
            (paymentSuccess)="onPaymentSuccess($event)"
          ></app-payment-form>
        </div>
      </div>

      <div class="right-side">
        <div class="right-side-description">
          <app-service-description
            class="first"
            [serviceType]="calculatorForm.get('serviceType')!.value"
            [isDeepCleaningSelected]="calculatorForm.get('deepCleaning')!.value"
          ></app-service-description>
        </div>
        <div class="card-width"></div>

        <!-- calculator card -->
        <div
          [ngClass]="{ fixed: isFixed, absolute: !isFixed }"
          class="calculator-card"
        >
          <div class="summary">
            <h1>Booking Summary</h1>
            <hr />
            <div class="summaryContent">
              <div *ngIf="calculatorForm.get('serviceType')!.value">
                <img src="/assets/images/home.webp" alt="" title="Service" />
                <p>
                  {{ getServiceTypeDisplay() }}
                </p>
              </div>

              <div>
                <img
                  src="/assets/images/frequency.webp"
                  alt=""
                  title="Frequency"
                />
                <p>{{ calculatorForm.get("frequency")!.value }}</p>
              </div>
              <div *ngIf="calculatorForm.get('serviceDate')!.value">
                <img src="/assets/images/calendar.webp" alt="" title="Date" />
                <p>
                  {{ calculatorForm.get("serviceDate")!.value }} at
                  {{
                    formatTimeToAmPm(calculatorForm.get("serviceTime")!.value)
                  }}
                </p>
              </div>
            </div>
            <div class="summaryTime">
              <!-- <div *ngIf="!isCustomCleaning">
            <div class="timeForOneCleaner" title="Time For One Cleaner">
              <img src="/assets/images/maid.webp" alt="" />
              <img src="/assets/images/clock.webp" alt="" />
            </div>
            <p>
              {{
                subTotalTime !== null
                  ? formatTimeToHoursAndMinutes(subTotalTime)
                  : "N/A"
              }}
            </p>
          </div> -->

              <div>
                <div class="numberOfCleaners" title="Number of Cleaners">
                  <!-- <img src="/assets/images/maid2.webp" alt="" /> -->
                  <!-- <img src="/assets/images/maid3.webp" alt="" /> -->
                  <img src="/assets/images/maid.webp" alt="" />
                </div>

                <p>
                  {{
                    !isCustomCleaning && !isRenovationCleaning
                      ? requiredCleaners
                      : calculatorForm.get("cleaners")!.value
                  }}
                </p>
              </div>
              <div *ngIf="isCustomCleaning || isRenovationCleaning">
                <img
                  src="/assets/images/clock.webp"
                  alt=""
                  title="Number of Hours"
                />
                <p>
                  {{
                    formatTimeToHoursAndMinutes(
                      calculatorForm.get("hours")!.value
                    )
                  }}
                </p>
              </div>
              <div *ngIf="!isCustomCleaning && !isRenovationCleaning">
                <img
                  src="/assets/images/clock.webp"
                  alt=""
                  title="Total Hours"
                />
                <p>
                  {{
                    totalTime !== null
                      ? formatTimeToHoursAndMinutes(totalTime)
                      : "N/A"
                  }}
                </p>
              </div>
            </div>
          </div>
          <hr />
          <div class="total-price">
            <div>
              <p>Sub-total:</p>
              <p>{{ totalPrice | currency }}</p>
            </div>
            <div>
              <p>Sales Tax:</p>
              <p>{{ salesTax | currency }}</p>
            </div>
            <div *ngIf="tips > 0">
              <p>Tips:</p>
              <p>{{ tips | currency }}</p>
            </div>
            <div class="total">
              <p><b>Total:</b></p>
              <p>
                <b class="totalAmount">{{ total | currency }}</b>
              </p>
            </div>
            <div class="bookNowButton second">
              <button
                type="button"
                class="btn btn-success"
                [ngClass]="{ disabled: !calculatorForm.valid }"
                (click)="onBookNowClick()"
              >
                Book Now
              </button>
              <p>
                <b>Please note:</b> We accept credit or debit cards, and all
                online payments are securely processed through Stripe. When you
                book with Dream Cleaning, you can rest assured that your
                transaction is safe and protected. At the time of scheduling, we
                place a hold on your card (which may appear as 'pending' on your
                statement), rather than a charge. By ordering our services and
                providing your credit card details, you consent to us charging
                your card for the service fee. Your card will only be charged
                once the cleaning is completed.
              </p>
              <hr />
              <app-service-description
                class="second"
                [serviceType]="calculatorForm.get('serviceType')!.value"
                [isDeepCleaningSelected]="
                  calculatorForm.get('deepCleaning')!.value
                "
              ></app-service-description>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
