<div class="container">
  <div class="left-side">
    <form [formGroup]="calculatorForm" (ngSubmit)="onSubmit()">
      <!-- Service Type -->
      <div class="relative-container">
        <div class="form-group col bordered-group">
          <div class="col">
            <h3>Service Type</h3>
            <div class="col">
              <select
                formControlName="serviceType"
                id="serviceType"
                class="form-control"
                (change)="onServiceTypeChange()"
              >
                <option value="" disabled>Select a service type**</option>
                <option value="Residential">
                  Residential Cleaning Service
                </option>
                <option value="Move In">Move In Cleaning Package</option>
                <option value="Move Out">Move Out Cleaning Package</option>
                <option value="Custom Cleaning">Custom Cleaning</option>
              </select>
              <div
                *ngIf="
                  calculatorForm.get('serviceType')!.invalid &&
                  calculatorForm.get('serviceType')!.touched
                "
                class="error"
              >
                Please select a service type.
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bedrooms and Bathrooms -->
      <div *ngIf="!isCustomCleaning" class="relative-container">
        <div class="form-group row bordered-group typeRow">
          <div class="col">
            <h3>Tell us about your home.</h3>
            <select
              formControlName="bedrooms"
              id="bedrooms"
              class="form-control"
            >
              <option value="studio">Studio Clean</option>
              <option value="one">One Bedroom Clean</option>
              <option value="two">Two Bedrooms Clean</option>
              <option value="three">Three Bedrooms Clean</option>
              <option value="four">Four Bedrooms Clean</option>
              <option value="five">Five Bedrooms Clean</option>
              <option value="six">Six Bedrooms Clean</option>
            </select>
            <div
              *ngIf="
                calculatorForm.get('bedrooms')!.invalid &&
                calculatorForm.get('bedrooms')!.touched
              "
              class="error"
            >
              Please select the number of bedrooms.
            </div>
          </div>
          <div class="col">
            <select
              formControlName="bathrooms"
              id="bathrooms"
              class="form-control"
            >
              <option value="" disabled>Select number of bathrooms**</option>
              <option *ngFor="let i of bathroomOptions" [value]="i">
                {{ i }} {{ i === 1 ? "Bathroom" : "Bathrooms" }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Cleaners and Hours (Custom Cleaning) -->
      <div *ngIf="isCustomCleaning" class="relative-container">
        <div class="form-group row bordered-group typeRow">
          <div class="col">
            <h3>Hourly Service: $55 per hour/per cleaner</h3>
            <select
              formControlName="cleaners"
              id="cleaners"
              class="form-control"
            >
              <option value="" disabled>Select number of cleaners**</option>
              <option *ngFor="let i of cleanersOptions" [value]="i">
                {{ i }} {{ i === 1 ? "Cleaner" : "Cleaners" }}
              </option>
            </select>
          </div>
          <div class="col">
            <select formControlName="hours" id="hours" class="form-control">
              <option value="" disabled>Select number of hours**</option>
              <option *ngFor="let hour of hoursOptions" [value]="hour">
                {{ formatTimeToHoursAndMinutes(hour) }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Extra Services -->
      <app-extra-services
        [parentForm]="calculatorForm"
        [isCustomCleaning]="isCustomCleaning"
        (extraServiceChanged)="onExtraServiceChanged($event)"
        (sameDayServiceChanged)="onSameDayServiceChanged($event)"
      ></app-extra-services>

      <!-- Service Date and Time -->
      <div class="relative-container">
        <div class="form-group col bordered-group">
          <h3>Service Date & Time</h3>
          <div class="row">
            <div class="col">
              <input
                type="date"
                formControlName="serviceDate"
                id="serviceDate"
                class="form-control"
                [min]="minDate"
                [disabled]="isSameDayService"
                placeholder="Service Date**"
              />
              <div
                *ngIf="
                  calculatorForm.get('serviceDate')!.invalid &&
                  calculatorForm.get('serviceDate')!.touched
                "
                class="error"
              >
                Please select a service date.
              </div>
            </div>
            <div class="col">
              <input
                type="time"
                formControlName="serviceTime"
                id="serviceTime"
                class="form-control"
                placeholder="Service Time**"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Frequency -->
      <div class="relative-container">
        <div class="form-group bordered-group">
          <label><h3>Frequency</h3></label>
          <div class="frequency-buttons">
            <button
              type="button"
              class="btn"
              *ngFor="let freq of frequencies"
              [class.selected]="
                calculatorForm.get('frequency')!.value === freq.value
              "
              (click)="setFrequency(freq.value)"
            >
              {{ freq.label }}
            </button>
          </div>
          <div
            *ngIf="
              calculatorForm.get('frequency')!.invalid &&
              calculatorForm.get('frequency')!.touched
            "
            class="error"
          >
            Please select a frequency.
          </div>
        </div>
      </div>

      <!-- Entry Method -->
      <div class="relative-container">
        <div class="form-group bordered-group">
          <label for="entryMethod"><h3>Entry Method</h3></label>
          <select
            formControlName="entryMethod"
            id="entryMethod"
            class="form-control"
          >
            <option value="" disabled>Select entry method</option>
            <option value="keyUnderMat">Key Under Mat</option>
            <option value="leaveOpen">Leave Open</option>
            <option value="meetInPerson">Meet in Person</option>
          </select>
        </div>
      </div>

      <!-- Special Instructions -->
      <div class="relative-container">
        <div class="form-group bordered-group">
          <label for="specialInstructions"><h3>Special Instructions</h3></label>
          <textarea
            formControlName="specialInstructions"
            id="specialInstructions"
            class="form-control"
            placeholder="Special Instructions"
          ></textarea>
        </div>
      </div>

      <!-- Contact Information -->
      <app-contact-information
        [parentForm]="calculatorForm"
      ></app-contact-information>

      <!-- Address Information -->
      <app-address-information
        [parentForm]="calculatorForm"
      ></app-address-information>

      <button type="submit" class="btn btn-success">Book Now</button>
    </form>
  </div>

  <div class="right-side">
    <div class="right-side-description">
      <app-service-description
        [serviceType]="calculatorForm.get('serviceType')!.value"
      ></app-service-description>
    </div>
    <div class="calculator-card fixed">
      <div class="summary">
        <h1>Booking Summary</h1>
        <p *ngIf="calculatorForm.get('serviceType')!.value">
          Selected Service Type: {{ calculatorForm.get("serviceType")!.value }}
        </p>
        <p
          *ngIf="!calculatorForm.get('serviceType')!.value"
          class="placeholder"
        >
          Select service...
        </p>
        <p *ngIf="calculatorForm.get('serviceDate')!.value">
          Service Date: {{ calculatorForm.get("serviceDate")!.value }} at
          {{ formatTimeToAmPm(calculatorForm.get("serviceTime")!.value) }}
        </p>
        <p
          *ngIf="!calculatorForm.get('serviceDate')!.value"
          class="placeholder"
        >
          Choose service date...
        </p>
        <p>Frequency: {{ calculatorForm.get("frequency")!.value }}</p>
        <p *ngIf="!isCustomCleaning">
          Sub-total Time:
          {{
            subTotalTime !== null
              ? formatTimeToHoursAndMinutes(subTotalTime)
              : "N/A"
          }}
        </p>
        <p *ngIf="isCustomCleaning">
          Number of Hours:
          {{ formatTimeToHoursAndMinutes(calculatorForm.get("hours")!.value) }}
        </p>

        <p>
          Number of Cleaners:
          {{
            !isCustomCleaning
              ? requiredCleaners
              : calculatorForm.get("cleaners")!.value
          }}
        </p>
        <p *ngIf="!isCustomCleaning">
          Total Time:
          {{
            totalTime !== null ? formatTimeToHoursAndMinutes(totalTime) : "N/A"
          }}
        </p>
      </div>
      <div class="total-price">
        <p>Sub-total: {{ totalPrice | currency }}</p>
        <p>Sales Tax: {{ salesTax | currency }}</p>
        <p>Total: {{ total | currency }}</p>
      </div>
    </div>
  </div>
</div>
