.background {
  background-image: url("/assets/images/try2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  gap: 2rem;
  padding: 20px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.left-side {
  flex: 2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background: #ffffffc2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: 100px;
}

.right-side {
  flex: 1;
  margin-top: 100px;
}

.fixed {
  position: sticky;
  top: 43vh; /* Adjust this value based on your layout */
  max-width: 100%;
}

// .right-side-description {
//   position: absolute;
// }

.calculator-card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.summary {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: #0006cf;
    text-align: center;
    padding: 10px 0;
  }

  .summaryContent,
  .summaryTime {
    .timeForOneCleaner,
    .numberOfCleaners {
      padding: 0;
      img {
        height: 40px;
        width: 40px;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}

.total-price {
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .total {
    p {
      font-size: 25px;
    }
    .totalAmount {
      font-size: 30px;
      color: #0006cf;
    }
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  border-color: #42a5f5;
  box-shadow: 0 0 0 3px rgba(66, 165, 245, 0.2);
  background-color: #ffffff;
  color: #000;
  outline: none;
  resize: none;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/assets/images/chevronDown.png");
  background-repeat: no-repeat;
  background-position: right 0.5rem center; /* Position the arrow */
  background-size: 1rem; /* Size the arrow */
}

.bookNowButton {
  padding: 0 1rem;
}

button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-primary {
  background-color: #007bff;
  color: #fff;
}

button.btn-success {
  width: 100%;
  background-color: #28a745;
  color: #fff;
  margin-top: 20px;
}

button.btn-success.disabled {
  background-color: rgb(172, 172, 172);
  cursor: not-allowed;
  position: relative;
}

button.btn-success.disabled:hover::after {
  content: "Please fill out all required fields which have '**' symbols";
  position: absolute;
  background: #0000008f;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  bottom: 110%; /* Adjust this to position the tooltip above the button */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.875rem;
  margin-top: 3.3rem;
  max-width: 250px;
}

.errorEntry {
  position: absolute;
  color: red;
  font-size: 0.875rem;
  max-width: 250px;
}

.discountBtn {
  width: 50%;
}

.frequency-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.frequency-buttons .btn {
  flex: 1;
  text-align: center;
  background-color: #ebf5ff;
  border: 1px solid #ccc;
  padding: 0.75rem;
  min-width: 120px;
  flex-shrink: 0;
  flex-basis: 120px;
  height: 60px;
  color: #000;
  font-weight: 900;
}

.frequency-buttons .btn:hover {
  border: 1px solid #676cff;
}

.frequency-buttons .btn.selected {
  background: #676cff;
  color: #fff;
}

.discount-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.discount-buttons .btn {
  flex: 1;
  text-align: center;
  background-color: #ebf5ff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  color: #000;
  font-weight: 900;
}

.discount-buttons .btn:hover {
  border: 1px solid #676cff;
}

.discount-buttons .btn.selected {
  background: #676cff;
  color: #fff;
}

.hidden {
  display: none;
}

.bordered-group {
  padding: 10px;
  flex: 1;
}

h3 {
  margin-top: 0;
}

.row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 10px;
  width: 100%;
}

.cleanHours {
  padding: 10px;
}

.customHours {
  padding: 10px 0;
}

.apartment {
  padding: 0 10px;
}

.typeRow {
  padding: 10px 0;
}

.deep-cleaning-text {
  color: red;
}

.flatpickr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dateTime {
  width: 100%;
  .col {
    width: 100%;
  }
}

.input-button {
  cursor: pointer;
  margin-left: 5px;
}

/* Custom styles for date and time inputs */
.date-input,
.time-input {
  outline: none; /* Remove default outline */
  border: 1px solid #42a5f5; /* Custom border color */
  text-align: center; /* Center text */
  border-radius: 4px; /* Adjust border-radius if needed */
}

.date-input:focus,
.time-input:focus {
  border-color: #42a5f5;
  box-shadow: 0 0 0 3px rgba(66, 165, 245, 0.2);
}

/* Styles for disabled inputs */
input.disabled {
  cursor: not-allowed;
  background-color: #e0dddd; /* Optional: change background color for disabled inputs */
}

/* Tooltip styles */
.tooltip {
  position: absolute;
  background-color: #333333d5;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-top: 70px;
  // margin-left: 20px;
  z-index: 5;
  font-size: 12px;
  white-space: nowrap;
}

.address-flex {
  flex: 3;
}

.formsGap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cleanerHours {
  align-self: flex-end;
}

.contact-info,
.address-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tips {
  .input-container {
    position: relative;
    // width: fit-content;
  }
  p {
    font-size: 14px;
    // color: #0006cf;
    text-align: center;
    padding-bottom: 5px;
  }
  .currency-symbol {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #495057;
  }

  .form-control {
    padding-left: 25px; /* Adjust this value as needed */
  }
}

.discount {
  align-self: flex-end;
  p {
    font-size: 14px;
    // color: #0006cf;
    text-align: center;
    padding-bottom: 5px;
  }
}

.total-price {
  .second {
    display: none;
  }
}

@media (max-height: 850px) {
  .calculator-card {
    top: 38vh;
  }
}

@media (max-width: 1150px) {
  .container {
    padding: 10px;
    gap: 10px;
  }
}

@media (max-width: 1020px) {
  .summary {
    h1 {
      font-size: 25px;
    }
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .summary {
    h1 {
      font-size: 2em;
    }
  }

  .left-side {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 94px;
  }

  .right-side {
    margin-top: 0;
  }

  .calculator-card {
    box-shadow: none;
    border: none;
    border-radius: 0;
    background: #ffffffc2;
  }

  app-service-description,
  .first {
    display: none;
  }

  .total-price {
    .second {
      display: block;
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .bordered-group,
  .contact-info,
  .address-info {
    padding: 10px 0;
  }

  .left-side {
    margin-top: 54px;
  }

  .serviceType {
    padding: 10px;
  }

  .dateTime {
    flex-wrap: wrap;
    // flex-direction: column;
    .col {
      min-width: 310px;
    }
  }

  .address-flex {
    flex: 1;
  }
}

@media (max-width: 580px) {
  .container {
    h3 {
      font-size: 16px;
    }

    input,
    select,
    textarea {
      font-size: 16px;
      padding: 5px;
    }
  }
  .typeRow {
    flex-wrap: wrap;
    div {
      min-width: 160px;
    }
  }

  #squareFeet {
    text-align: center;
  }

  .dateTime {
    flex-direction: column;
    .col {
      min-width: auto;
      width: 100%;
    }
  }

  .addressInfoDown {
    flex-direction: column;
    div {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .customHours {
    flex-direction: column;
  }

  .contactInfo {
    flex-direction: column;
    div {
      width: 100%;
    }
  }

  .addressInfoDown {
    .address-flex {
      flex-direction: column;
    }
  }

  .addressInfoUp {
    flex-direction: column;
    div {
      width: 100%;
    }
  }

  .error {
    margin-top: 3rem;
  }

  .calculator-card {
    padding: 10px;
    .total-price {
      padding: 10px;
      p {
        font-size: 15px;
      }
      .total {
        p {
          font-size: 18px;
        }
      }
    }
    .summary {
      margin: 0 auto;
      h1 {
        font-size: 25px;
      }

      .summaryContent,
      .summaryTime {
        p {
          font-size: 15px;
        }
        img {
          height: 30px;
          width: 30px;
        }
      }
    }
  }

  .frequency-buttons .btn {
    padding: 5px;
    height: 40px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 400px) {
  .tipsDiscount {
    flex-direction: column;
    .tips,
    .discount {
      width: 100%;
    }
  }
}

@media (max-width: 350px) {
  button.btn-success.disabled:hover::after {
    font-size: 11px;
  }
}
