.relative-container {
  position: relative;
}

.form-group {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 10px;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.875rem;
  margin-top: 3.3rem;
}

.formsGap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
