<div
  *ngIf="contactInfoForm"
  [formGroup]="contactInfoForm"
  class="relative-container"
>
  <div class="form-group bordered-group">
    <h3>Contact Info</h3>
    <div class="formsGap">
      <div class="row">
        <div class="col">
          <input
            type="text"
            formControlName="name"
            id="name"
            class="form-control"
            placeholder="First Name**"
          />
          <div
            *ngIf="
              contactInfoForm.get('name')!.invalid &&
              contactInfoForm.get('name')!.touched
            "
            class="error"
          >
            Please enter your first name.
          </div>
        </div>
        <div class="col">
          <input
            type="text"
            formControlName="lastName"
            id="lastName"
            class="form-control"
            placeholder="Last Name**"
          />
          <div
            *ngIf="
              contactInfoForm.get('lastName')!.invalid &&
              contactInfoForm.get('lastName')!.touched
            "
            class="error"
          >
            Please enter your last name.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            placeholder="Email**"
          />
          <div
            *ngIf="
              contactInfoForm.get('email')!.invalid &&
              contactInfoForm.get('email')!.touched
            "
            class="error"
          >
            Please enter a valid email.
          </div>
        </div>
        <div class="col">
          <input
            type="text"
            formControlName="cellNumber"
            id="cellNumber"
            class="form-control"
            placeholder="Cell Number"
          />
        </div>
      </div>
    </div>
  </div>
</div>
