.main {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 10px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 1s ease-in-out;

  h2 {
    font-size: 3.2rem;
    line-height: 3.5rem;
    text-align: center;
    transition: color 1s ease-in-out; // Add transition for color
  }

  p {
    width: 100%;
    max-width: 700px;
    font-size: 1.2rem;
    transition: color 1s ease-in-out; // Add transition for color
  }

  .cleanings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 300px;
      background: #00f2f7;
      border-radius: 50px;
      cursor: pointer;
    }

    h5 {
      font-size: 18px;
    }

    #bookNow {
      border: 1px solid #fff;
      animation: colorChange 1.4s infinite;
    }

    @keyframes colorChange {
      0% {
        background: #00f3f7e7;
      }
      50% {
        background: #00f3f79d;
      }
      100% {
        background: #00f3f7e7;
      }
    }

    #ourPopular {
      border: 1px solid #fff;
      background: #00f3f77a;
      font-weight: bolder;
    }

    #ourPopular:hover {
      background: #00f3f7d8;
      border: 1px solid #fff;
      color: #222831;
    }

    .fa-chevron-right {
      display: none;
    }

    #bookNow:hover .fa-chevron-right {
      display: inline;
    }
  }
}
