.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity 1s ease-in-out;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.404);
    height: 100%;
    padding: 10px 50px;
    position: absolute;
    z-index: 3;
    & > div:first-child {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    width: 100%;
    max-width: 550px;
    font-size: 16px;
    color: #fff;
    text-align: justify;
    position: relative;
    top: 100px;

    b {
      color: #00f2f7;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .cleanings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin-right: 5%;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      width: 300px;
      background: #00f2f7;
      border-radius: 50px;
      cursor: pointer;
    }

    b {
      font-size: 25px;
    }

    #bookNow {
      border: 1px solid #fff;
      animation: colorChange 1.4s infinite;
    }

    @keyframes colorChange {
      0% {
        background: #00f3f7e7;
      }
      50% {
        background: #00f3f79d;
      }
      100% {
        background: #00f3f7e7;
      }
    }

    #ourPopular {
      border: 1px solid #fff;
      background: #00f3f77a;
      font-weight: bolder;
    }

    #ourPopular:hover {
      background: #00f3f7d8;
      border: 1px solid #fff;
      color: #222831;
    }

    .fa-chevron-right {
      display: none;
    }

    #bookNow:hover .fa-chevron-right {
      display: inline;
    }
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Fallback color */
  }

  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rotating-text {
  font-size: 48px;
  line-height: 54.4px;
  text-align: justify;
  color: #fff;
  width: 100%;
  max-width: 550px;
  h3 {
    font-size: 48px;
    line-height: 54.4px;
    text-align: center;
    color: #fff;
    width: 50%;
  }
  span {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
    max-width: 289px;
  }

  .word {
    position: absolute;
    display: flex;
    opacity: 0;
  }

  .word .letter {
    transform-origin: center center 25px;
  }

  .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
  }

  .word .letter.in {
    transition: 0.38s ease;
  }

  .word .letter.behind {
    transform: rotateX(-90deg);
  }

  .harlem {
    // color: #e74c3c;
    color: #ff073a;
  }

  .wisteria {
    color: #8e44ad;
  }

  .manhattan {
    color: #ff3131;
  }

  .brooklyn {
    color: #32cd32;
  }

  .queens {
    color: #ffff33;
  }
}

@media (max-width: 1150px) {
  .main {
    .container {
      padding: 10px;
      & > div:first-child {
        gap: 30px;
      }
    }
    .cleanings {
      div {
        height: 60px;
        max-width: 200px;
      }
      b {
        font-size: 18px;
      }
    }
    h2 {
      font-size: 40px;
      line-height: 48px;
      h3 {
        font-size: 40px;
        line-height: 48px;
      }
    }
    p,
    h2 {
      max-width: 600px;
      padding: 0 20px;
      text-align: left;
    }
  }
}

@media (max-width: 900px) {
  .main {
    .cleanings {
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .main {
    .container {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      padding: 50px 10px 20px;
    }

    p {
      top: 0;
    }

    .cleanings {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 525px) {
  .main {
    .container {
      gap: 20px;
      & > div:first-child {
        gap: 0;
      }
    }
    h2 {
      font-size: 32px;
      line-height: 40px;
      padding: 10px;
      text-align: center;
      h3 {
        font-size: 32px;
        line-height: 40px;
        width: 60%;
      }
    }
    p {
      padding: 10px;
      font-size: 14px;
    }

    .cleanings {
      gap: 5px;
      div {
        height: 40px;
        max-width: 150px;
      }
      b {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 430px) {
  .main {
    h2 {
      font-size: 24px;
      line-height: 32px;
      h3 {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

@media (max-height: 600px) {
  .main {
    .container {
      gap: 0;
      justify-content: space-evenly;
      & > div:first-child {
        gap: 0;
      }
    }

    p {
      top: 0;
    }
    h2 {
      font-size: 24px;
      line-height: 32px;
      padding: 10px;
      h3 {
        font-size: 24px;
        line-height: 32px;
      }
    }
    p {
      padding: 10px;
      font-size: 14px;
    }

    .cleanings {
      gap: 5px;
      flex-direction: row;
      flex-wrap: wrap;
      div {
        height: 40px;
        max-width: 150px;
      }
      b {
        font-size: 14px;
      }
    }
  }
}

@media (max-height: 400px) {
  .main {
    .container {
      padding: 50px 10px 20px;
    }
    h2 {
      font-size: 1.32px;
      line-height: 27.2px;
      h3 {
        font-size: 1.32px;
        line-height: 27.2px;
      }
    }
    p {
      padding: 10px;
      font-size: 13px;
    }
  }
}

@media (max-height: 400px) and (max-width: 768px) {
  .main {
    .container {
      padding: 50px 10px 20px;
    }
  }
}
