.modal-container {
  padding: 20px;
  background: white;
  border-radius: 8px;
  // max-width: 600px;
  width: 100%;
  height: 100vh;
  margin: auto; // Center the modal horizontally
  padding-top: 150px;
  background-image: url(/assets/images/test.jpeg);
  background-size: cover;
  color: #fff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.modal-content {
  margin-top: 20px;
}

// Add these styles to center the modal vertically and cover the entire page
::ng-deep .cdk-overlay-pane {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .cdk-global-overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
