<main>
  <ul class="slider">
    <li class="item">
      <img
        src="/assets/images/queens-small.webp"
        srcset="
          /assets/images/queens-small.webp   640w,
          /assets/images/queens-medium.webp 1280w,
          /assets/images/queens-large.webp  1920w
        "
        sizes="(max-width: 640px) 640px, (max-width: 1280px) 1280px, 1920px"
        loading="lazy"
        alt="Queens"
      />
      <div class="content">
        <h2 class="title">Queens</h2>
        <p class="description">
          This is one of our largest boroughs, we provide our service equally
          across the entire area.
          <b (click)="navigateToCalculator()">Book Online</b> or call us at the
          number below:
          <br />
          <a href="tel:929-930-1525"><span> 929-930-1525</span></a>
        </p>
      </div>
    </li>
    <li class="item">
      <img
        src="/assets/images/manhattan-small.webp"
        srcset="
          /assets/images/manhattan-small.webp   640w,
          /assets/images/manhattan-medium.webp 1280w,
          /assets/images/manhattan-large.webp  1920w
        "
        sizes="(max-width: 640px) 640px, (max-width: 1280px) 1280px, 1920px"
        loading="lazy"
        alt="Manhattan"
      />
      <div class="content">
        <h2 class="title">Manhattan</h2>
        <p class="description">
          Manhattan - Our team serves all of Manhattan and Harlem.
          <b (click)="navigateToCalculator()">Book Online</b> or call us at the
          number below:
          <br />
          <a href="tel:929-930-1525"><span> 929-930-1525</span></a>
        </p>
      </div>
    </li>
    <li class="item">
      <img
        src="/assets/images/brooklyn3-small.webp"
        srcset="
          /assets/images/brooklyn3-small.webp   640w,
          /assets/images/brooklyn3-medium.webp 1280w,
          /assets/images/brooklyn3-large.webp  1920w
        "
        sizes="(max-width: 640px) 640px, (max-width: 1280px) 1280px, 1920px"
        loading="lazy"
        alt="Brooklyn"
      />
      <div class="content">
        <h2 class="title">Brooklyn</h2>
        <p class="description">
          We offer our full service across the entire Brooklyn area.
          <b (click)="navigateToCalculator()">Book Online</b> or contact us at
          the number below:
          <br />
          <a href="tel:929-930-1525"><span> 929-930-1525</span></a>
        </p>
      </div>
    </li>
    <li class="item">
      <img
        src="/assets/images/queens2-small.webp"
        srcset="
          /assets/images/queens2-small.webp   640w,
          /assets/images/queens2-medium.webp 1280w,
          /assets/images/queens2-large.webp  1920w
        "
        sizes="(max-width: 640px) 640px, (max-width: 1280px) 1280px, 1920px"
        loading="lazy"
        alt="Queens"
      />
      <div class="content">
        <h2 class="title">Queens</h2>
        <p class="description">
          This is one of our largest boroughs, we provide our service equally
          across the entire area.
          <b (click)="navigateToCalculator()">Book Online</b> or call us at the
          number below:
          <br />
          <a href="tel:929-930-1525"><span> 929-930-1525</span></a>
        </p>
      </div>
    </li>
    <li class="item">
      <img
        src="/assets/images/manhattan2-small.webp"
        srcset="
          /assets/images/manhattan2-small.webp   640w,
          /assets/images/manhattan2-medium.webp 1280w,
          /assets/images/manhattan2-large.webp  1920w
        "
        sizes="(max-width: 640px) 640px, (max-width: 1280px) 1280px, 1920px"
        loading="lazy"
        alt="Manhattan"
      />
      <div class="content">
        <h2 class="title">Manhattan</h2>
        <p class="description">
          Manhattan - Our team serves all of Manhattan and Harlem.
          <b (click)="navigateToCalculator()">Book Online</b> or call us at the
          number below:
          <br />
          <a href="tel:929-930-1525"><span> 929-930-1525</span></a>
        </p>
      </div>
    </li>
    <li class="item">
      <img
        src="/assets/images/brooklyn2-small.webp"
        srcset="
          /assets/images/brooklyn2-small.webp   640w,
          /assets/images/brooklyn2-medium.webp 1280w,
          /assets/images/brooklyn2-large.webp  1920w
        "
        sizes="(max-width: 640px) 640px, (max-width: 1280px) 1280px, 1920px"
        loading="lazy"
        alt="Brooklyn"
      />
      <div class="content">
        <h2 class="title">Brooklyn</h2>
        <p class="description">
          We offer our full service across the entire Brooklyn area.
          <b (click)="navigateToCalculator()">Book Online</b> or contact us at
          the number below:
          <br />
          <a href="tel:929-930-1525"><span> 929-930-1525</span></a>
        </p>
      </div>
    </li>
  </ul>
  <nav class="nav">
    <i class="btn prev fas fa-arrow-left"></i>
    <i class="btn next fas fa-arrow-right"></i>
  </nav>
</main>
