<main>
  <ul class="slider">
    <li class="item item-1">
      <div class="content">
        <h2 class="title">Queens</h2>
        <p class="description">
          This is one of our largest borough, we provide our service equally
          across the entire area.
          <a (click)="navigateToCalculator()">Book Online</a> or call us at the
          number below :
        </p>
      </div>
    </li>
    <li class="item item-2">
      <div class="content">
        <h2 class="title">Manhattan</h2>
        <p class="description">
          Manhattan - Our team serves all of Manhattan and Harlem.
          <a (click)="navigateToCalculator()">Book Online</a> or call us at the
          number below :
        </p>
      </div>
    </li>
    <li class="item item-3">
      <div class="content">
        <h2 class="title">Brooklyn</h2>
        <p class="description">
          We offer our full service across the entire Brooklyn area.
          <a (click)="navigateToCalculator()">Book Online</a> or contact us at
          the number below :
        </p>
      </div>
    </li>
    <li class="item item-4">
      <div class="content">
        <h2 class="title">Queens</h2>
        <p class="description">
          This is one of our largest borough, we provide our service equally
          across the entire area.
          <a (click)="navigateToCalculator()">Book Online</a> or call us at the
          number below :
        </p>
      </div>
    </li>
    <li class="item item-5">
      <div class="content">
        <h2 class="title">Manhattan</h2>
        <p class="description">
          Manhattan - Our team serves all of Manhattan and Harlem.
          <a (click)="navigateToCalculator()">Book Online</a> or call us at the
          number below :
        </p>
      </div>
    </li>
    <li class="item item-6">
      <div class="content">
        <h2 class="title">Brooklyn</h2>
        <p class="description">
          We offer our full service across the entire Brooklyn area.
          <a (click)="navigateToCalculator()">Book Online</a> or contact us at
          the number below :
        </p>
      </div>
    </li>
  </ul>
  <nav class="nav">
    <i class="btn prev fas fa-arrow-left"></i>
    <i class="btn next fas fa-arrow-right"></i>
  </nav>
</main>
