.container {
  position: relative;
  max-width: 100%;
  .content {
    color: #000;
    background-color: #ffffffc2;
    padding: 1rem;
    max-width: 100%;
    position: absolute;
    border: 1px solid #ccc;

    border-radius: 4px;
    h4 {
      color: #0006cf;
      b {
        color: #000;
      }
      span {
        color: #000;
        font-weight: 400;
      }
    }
    ul {
      list-style-position: inside;
      padding: 0 10px;
      li ul {
        padding: 0 10px;
      }
    }

    &:hover {
      z-index: 5;
      background: #fff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.41));
    }
  }
}

@media (max-width: 900px) or (max-height: 700px) {
  .container {
    .content {
      position: relative;
      background: transparent;
      border: none;
      padding: 0;
      padding-top: 10px;

      h4,
      ul li {
        font-size: 14px;
      }
      &:hover {
        background: none;
        filter: none;
      }
    }
  }
}
