.relative-container {
  position: relative;
}

.form-group {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 10px;
}

.address-flex {
  flex: 3;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.875rem;
  margin-top: 3.3rem;
}

.formsGap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  border-color: #42a5f5;
  box-shadow: 0 0 0 3px rgba(66, 165, 245, 0.2);
  outline: none;
  resize: none;
}

select {
  cursor: pointer;
}
