<div
  *ngIf="addressInfoForm"
  [formGroup]="addressInfoForm"
  class="relative-container"
>
  <div class="form-group">
    <h3>Address</h3>
    <div class="formsGap">
      <div class="row">
        <div class="col address-flex">
          <input
            type="text"
            formControlName="address"
            id="address"
            class="form-control"
            placeholder="Address**"
          />
          <div
            *ngIf="
              addressInfoForm.get('address')!.invalid &&
              addressInfoForm.get('address')!.touched
            "
            class="error"
          >
            Please enter your address.
          </div>
        </div>
        <div class="col">
          <input
            type="text"
            formControlName="apartment"
            id="apartment"
            class="form-control"
            placeholder="Apt/Suite #"
          />
        </div>
      </div>
      <div class="row">
        <div class="row address-flex">
          <div class="col address-flex">
            <input
              type="text"
              formControlName="city"
              id="city"
              class="form-control"
              placeholder="City**"
            />
            <div
              *ngIf="
                addressInfoForm.get('city')!.invalid &&
                addressInfoForm.get('city')!.touched
              "
              class="error"
            >
              Please enter your city.
            </div>
          </div>
          <div class="col">
            <select formControlName="state" id="state" class="form-control">
              <option value="NY">New York</option>
              <!-- ... other states ... -->
            </select>
            <div
              *ngIf="
                addressInfoForm.get('state')!.invalid &&
                addressInfoForm.get('state')!.touched
              "
              class="error"
            >
              Please select your state.
            </div>
          </div>
        </div>

        <div class="col">
          <input
            type="text"
            formControlName="zipCode"
            id="zipCode"
            class="form-control"
            placeholder="Zip Code**"
          />
          <div
            *ngIf="
              addressInfoForm.get('zipCode')!.invalid &&
              addressInfoForm.get('zipCode')!.touched
            "
            class="error"
          >
            Please enter your zip code.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
